{% extends 'admin/layout.html' %}
{% block content %}
    <div class="portalButtons">
        <div class="portalButton">
            <a href="{{ 'admin/members'|path }}">
                <h3>{{ member_count }}</h3>
                <h2>Members</h2>
            </a>
        </div>
        <div class="portalButton">
            <a href="{{ 'admin/groups'|path }}">
                <h3>{{ groups_count }}</h3>
                <h2>Groups</h2>
            </a>
        </div>
        <div class="portalButton">
            <a href="{{ 'admin/reports'|path }}">
                <h3>{{ reports_count }}</h3>
                <h2>Reports</h2>
            </a>
        </div>
        <div class="portalButton">
            <a href="{{ 'admin/sessions'|path }}">
                <h3>{{ sessions_count }}</h3>
                <h2>Sessions</h2>
            </a>
        </div>
        <div class="portalButton">
            <div>
                <h3>{{ posts_count }}</h3>
                <h2>Posts</h2>
            </div>
        </div>
        <div class="portalButton">
            <div>
                <h3>{{ comments_count }}</h3>
                <h2>Comments</h2>
            </div>
        </div>
        <div class="portalButton">
            <div>
                <h3>{{ bans_count }}</h3>
                <h2>Bans</h2>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}