{% extends 'layouts/layout.html' %}
{% block title %}
Admin panel
{% endblock %}
{% block logo %}
<a class="title" href="{{ 'admin'|path }}">{{ config('application','title') }} <small>admin</small></a>
{% endblock %}
{% block notifications %}
{% endblock %}
{% block menu %}
<li>
    <form class="no-style" action="{{ 'admin/setadmin'|path }}" method="post">
        <input id="route" name="route" type="hidden"/>
        {% if apine.user.get_property('admin') == 'true' %}
        <label class="active"><i class="zmdi zmdi-shield-security left"></i>Turn off admin mode<input id="isAdmin" name="isAdmin" type="checkbox" checked/></label>
        {% else %}
        <label><i class="zmdi zmdi-shield-security left"></i>Turn on admin mode<input id="isAdmin" name="isAdmin" type="checkbox"/></label>
        {% endif %}
    </form>
</li>
<li><a href="{{ ''|path }}"><i class="zmdi zmdi-home left"></i>Return to site</a></li>
{% endblock %}
{% block initialize %}
<script>
    (function() {
        $('#route, #mobileRoute').val(window.location.pathname);
        $('#isAdmin, #mobileIsAdmin').change(function() {
            $(this).closest('form').submit();
        });
        setInitializing(false);
        setLoading(false);

        $('.modal-button').click(function(e) {
            e.preventDefault();
            var modal = new Modal('#modal-' + $(this).attr('data-id'));
            modal.show();
        });

        $('.confirm').click(function() {
            return confirm("Are you sure? This action can not be undone!");
        });

        $('.nyi').click(function(e) {
            e.preventDefault();
            return alert("This feature has not been implemented yet.");
        });
    })();
</script>
{% endblock %}
