{% extends 'admin/layout.html' %}
{% block content %}
    <div class="portalButtons">
        {% for member in members %}
        {% set avatar = member.get_property('avatar')|split(':') %}
        {% set avatar = avatar[0] != 'data' ? avatar[0]|path : member.get_property('avatar') %}
        <div class="portalButton">
            <a class="modal-button" href="{{ ('admin/members/' ~ member.get_id())|path }}" data-id="{{ member.get_id() }}">
                <img class="avatar" src="{{ avatar }}">
                <h2>{{ member.get_username() }}</h2>
            </a>
        </div>
        <div id="modal-{{ member.get_id() }}" class="modal" tabindex="0">
            <div class="modal-content">
                <div class="modal-header">
                    <span data-close class="close">×</span>
                    <span>{{ member.get_username() }}</span>
                </div>
                <div class="modal-body">
                    <form action="{{ 'admin/members'|path }}" method="post">
                        <div class="input-field">
                            <div class="input-field-inline">
                                <label for="username-{{ member.get_id() }}">Username</label>
                                <input name="username-{{ member.get_id() }}" id="username-{{ member.get_id() }}" type="text" placeholder="{{ member.get_username() }}" value="{{ member.get_username() }}">
                            </div>
                            <div class="input-field-inline">
                                <label for="email-{{ member.get_id() }}">Email</label>
                                <input name="email-{{ member.get_id() }}" id="email-{{ member.get_id() }}" type="email" placeholder="{{ member.get_email_address() }}" value="{{ member.get_email_address() }}">
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="input-field-inline">
                                <label for="realname-{{ member.get_id() }}">Real name</label>
                                <input name="realname-{{ member.get_id() }}" id="realname-{{ member.get_id() }}" type="text" placeholder="{{ member.get_property('realname') }}" value="{{ member.get_property('realname') }}">
                            </div>
                            <div class="input-field-inline">
                                <label for="cover-{{ member.get_id() }}">Cover</label>
                                <textarea name="cover-{{ member.get_id() }}" id="cover-{{ member.get_id() }}" placeholder="{{ member.get_property('cover') }}">{{ member.get_property('cover') }}</textarea>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="input-field-inline">
                                <label for="avatar-{{ member.get_id() }}">Avatar</label>
                                <textarea class="avatar-area" name="avatar-{{ member.get_id() }}" id="avatar-{{ member.get_id() }}" placeholder="{{ member.get_property('avatar') }}">{{ member.get_property('avatar') }}</textarea>
                                <img height="64px" width="64px" style="float: right" src="{{ avatar }}">
                            </div>
                            <div class="input-field-inline">
                                <label for="bio-{{ member.get_id() }}">Bio</label>
                                <textarea name="bio-{{ member.get_id() }}" id="bio-{{ member.get_id() }}" placeholder="{{ member.get_property('bio') }}">{{ member.get_property('bio') }}</textarea>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="input-field-inline">
                                <span class="label">Show mature</span>
                                <div class="checkbox">
                                    {% if member.get_property('mature') == 'true' %}
                                    <input name="mature-{{ member.get_id() }}" id="mature-{{ member.get_id() }}" type="checkbox" checked>
                                    {% else %}
                                    <input name="mature-{{ member.get_id() }}" id="mature-{{ member.get_id() }}" type="checkbox">
                                    {% endif %}
                                    <label for="mature-{{ member.get_id() }}"></label>
                                </div>
                            </div>
                            <div class="input-field-inline">
                                <span class="label">Blur mature</span>
                                <div class="checkbox">
                                    {% if member.get_property('mask_mature') == 'true' %}
                                    <input name="mask_mature-{{ member.get_id() }}" id="mask_mature-{{ member.get_id() }}" type="checkbox" checked>
                                    {% else %}
                                    <input name="mask_mature-{{ member.get_id() }}" id="mask_mature-{{ member.get_id() }}" type="checkbox">
                                    {% endif %}
                                    <label for="mask_mature-{{ member.get_id() }}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="input-field">
                            <hr/>
                            <h3>Groups</h3>
                        </div>
                        {% for group in groups %}
                        <div class="input-field-inline">
                            <span class="label">{{ group.get_name() }}</span>
                            <div class="checkbox">
                                {% if member.has_group(group.get_id()) == 'true' %}
                                <input name="group-{{ group.get_id() }}-{{ member.get_id() }}" id="group-{{ group.get_id() }}-{{ member.get_id() }}" type="checkbox" checked>
                                {% else %}
                                <input name="group-{{ group.get_id() }}-{{ member.get_id() }}" id="group-{{ group.get_id() }}-{{ member.get_id() }}" type="checkbox">
                                {% endif %}
                                <label for="group-{{ group.get_id() }}-{{ member.get_id() }}"></label>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="input-field submit">
                            <button type="submit">Save</button>
                        </div>
                        <div class="input-field-inline">
                            <a href="{{ ('admin/passwordreset/' ~ member.get_id())|path }}">Send password recovery email</a>
                            <span>|</span>
                            <a class="confirm" href="{{ ('admin/avatarreset/' ~ member.get_id())|path }}">Reset avatar (identicon)</a>
                        </div>
                        <div class="input-field-inline">
                            <a class="nyi" href="{{ ('admin/accountreset/' ~ member.get_id())|path }}">Remove all traces of this account</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="portalButton">
            <a class="modal-button" href="{{ 'admin/newmember'|path }}" data-id="new">
                <img class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                <h2>New member</h2>
            </a>
        </div>
        <div id="modal-new" class="modal" tabindex="0">
            <div class="modal-content">
                <div class="modal-header">
                    <span data-close class="close">×</span>
                    <span>New member</span>
                </div>
                <div class="modal-body">
                    <form action="{{ 'admin/newmember'|path }}" method="post">
                        <div class="input-field">
                            <div class="input-field-inline">
                                <label for="username-new">Username</label>
                                <input name="username-new" id="username-new" type="text" placeholder="Username">
                            </div>
                            <div class="input-field-inline">
                                <label for="email-new">Email</label>
                                <input name="email-new" id="email-new" type="email" placeholder="Email address">
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="input-field-inline">
                                <label for="avatar-new">Avatar</label>
                                <textarea name="avatar-new" id="avatar-new" placeholder="Filled automatically with identicon" disabled></textarea>
                            </div>
                            <div class="input-field-inline">
                                <label for="bio-new">Bio</label>
                                <textarea name="bio-new" id="bio-new" placeholder="A description of the user"></textarea>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="input-field-inline">
                                <span class="label">Show mature</span>
                                <div class="checkbox">
                                    <input name="mature-new" id="mature-new" type="checkbox">
                                    <label for="mature-new"></label>
                                </div>
                            </div>
                            <div class="input-field-inline">
                                <span class="label">Blur mature</span>
                                <div class="checkbox">
                                    <input name="mask_mature-new" id="mask_mature-new" type="checkbox" checked>
                                    <label for="mask_mature-new"></label>
                                </div>
                            </div>
                        </div>
                        <div class="input-field">
                            <hr/>
                            <h3>Groups</h3>
                        </div>
                        {% for group in groups %}
                        <div class="input-field-inline">
                            <span class="label">{{ group.get_name() }}</span>
                            <div class="checkbox">
                                <input name="group-{{ group.get_id() }}-new" id="group-{{ group.get_id() }}-new" type="checkbox">
                                <label for="group-{{ group.get_id() }}-new"></label>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="input-field submit">
                            <button type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}