{% extends 'admin/layout.html' %}
{% block content %}
    <div class="portalButtons">
        {% for session in sessions %}
        <div class="portalContainer">
            <div>
                <span style="width: 100%">{{ session.last_access }} <small style="float: right">({{ session.id }})</small></span>
                <br/>
                <pre style="white-space: pre-wrap">{{ session.data }}</pre>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}