<div id="login-modal" class="modal" tabindex="0">
    <div class="modal-content" data-bind="with: login">
        <div class="modal-header">
            <span data-close class="close">×</span>
            <span>Login</span>
        </div>
        <div class="modal-body">
            {% include 'utils/login.html' %}
        </div>
    </div>
</div>