<div id="post-modal" tabindex="0" class="modal">
    <div class="modal-content big" data-bind="with: post">
        <!-- ko ifnot: post -->
        <div class="modal-header skeleton">
            <span data-close class="close">×</span>
            <div class="title animate"></div>
        </div>
        <div class="modal-body dark image-block skeleton">
            <div class="elements">
                <div></div>
            </div>
            <div class="description">
                <div class="animate"></div>
            </div>
            <div class="middle-block">
                <div class="publication">
                    <div class="animate"></div>
                </div>
                <div class="votes-block">
                    <div class="upvotes"></div>
                    <div class="downvotes"></div>
                    <div class="more"></div>
                </div>
            </div>
            <div class="comments">
                <div class="block-button">&nbsp;</div>
                <div class="comment">
                    <div class="comment-votes">
                        <i class="upvotes thumb zmdi zmdi-thumb-up"></i>
                        <i class="downvotes thumb zmdi zmdi-thumb-down"></i>
                    </div>
                    <div class="comment-content">
                        <div class="content">
                            <div class="animate"></div>
                        </div>
                        <span class="commentText animate"></span>
                        <span class="commentText small animate"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: post -->
        <div class="modal-header" data-bind="with: post">
            <span data-close class="close">×</span>
            <div>
                {% if not is_admin %}<!-- ko if: can_edit -->{% endif %}
                <inline params="value: name, save: $parent.save"></inline>
                <span class="charMax" data-bind="text: name.charcount"></span>
                {% if not is_admin %}<!-- /ko -->
                <!-- ko ifnot: can_edit -->
                <span data-bind="text: name"></span>
                <!-- /ko -->{% endif %}
            </div>
            {# NOTE: À réactiver au besoin, puisqu'on a maintenant "Copy link" #}
            {# <a id="permalink" href="#" data-bind="attr: { href: '{{ 'post/'|path }}' + id()}"><small>Permalink</small></a> #}
        </div>
        <div class="modal-body dark image-block">
            {% include 'utils/post.html' %}
        </div>
        <!-- /ko -->
    </div>
</div>
<div data-bind="with: post">
    {% include 'modals/report.html' %}
    {% if not config('runtime', 'privacy') %}
        {% include 'modals/stats.html' %}
    {% endif %}
</div>