<div id="profile-modal" class="modal" tabindex="0">
    <div class="modal-content">
        <div class="modal-header">
            <span data-close class="close">×</span>
            <span>Settings</span>
        </div>
        <div class="modal-body">
            {% include 'utils/profile.html' %}
        </div>
    </div>
</div>