<div id="register-modal" class="modal" tabindex="0">
    <div class="modal-content" data-bind="with: register">
        <div class="modal-header">
            <span data-close class="close">×</span>
            <span>Register</span>
        </div>
        <div class="modal-body">
            {% include 'utils/register.html' %}
        </div>
    </div>
</div>