<!DOCTYPE html>
<html lang="{{ apine.language.short }}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% block metadata %}
	<meta name="description" content="{{ config('application','description') }}">
	<meta name="author" content="{{ config('application','author') }}">
	<meta property="og:url" content="{{ ''|path }}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ config('application','title') }}" />
	<meta property="og:description" content="{{ config('application','description') }}" />
	<meta property="og:image" content="{{ 'resources/public/assets/o-bar_og.png'|resource }}" />
	{% endblock %}

	<meta name="theme-color" content="#3d3d3d">
	<link rel="manifest" href="{{ 'manifest.json'|resource }}">
	<link rel="shortcut icon" href="{{ 'favicon.png'|resource }}" type="image/png">
	<link rel="icon" href="{{ 'favicon.png'|resource }}" type="image/png">

	<title>{{ config('application','title') }} - {% block title %}Home{% endblock %}</title>

	<!-- Stylesheets -->
	<link href="//fonts.googleapis.com/css?family=Roboto|Montserrat" rel="stylesheet">
	<link href="{{ 'vendor/bower-asset/material-design-iconic-font/dist/css/material-design-iconic-font.min.css'|resource }}" rel="stylesheet">
	<link href="{{ 'vendor/bower-asset/dropzone/dist/dropzone.css'|resource }}" rel="stylesheet">
	<link href="{{ 'vendor/bower-asset/perfect-scrollbar/css/perfect-scrollbar.min.css'|resource }}" rel="stylesheet">
	<link href="{{ 'resources/public/css/loading.css'|resource }}" rel="stylesheet">
	<link href="{{ 'resources/public/css/stylesheet.css'|resource }}" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="{{ 'vendor/bower-asset/html5shiv/dist/html5shiv.min.js'|resource }}"></script>
	<script src="{{ 'vendor/bower-asset/respond/dist/respond.min.js'|resource }}"></script>
	<![endif]-->

	{% if config('runtime', 'firebase_init') %}
	<script src="{{ 'vendor/bower-asset/firebase/firebase-app.js'|resource }}"></script>
	<script src="{{ 'vendor/bower-asset/firebase/firebase-messaging.js'|resource }}"></script>
	<script>
        firebase.initializeApp({{ config('runtime', 'firebase_init') }});
	</script>
	{% endif %}

	<script src='//www.google.com/recaptcha/api.js?onload=loadCaptcha&render=explicit' async defer></script>
</head>
<body>
	<nav>
		{% block logo %}
		<a class="title" href="{{ ''|path }}">{{ config('application','title') }} <small>{{ config('application','subtitle') }}</small></a>
		{% endblock %}
		{% block notifications %}
		{% if config('runtime', 'notifications') %}
        <!-- ko if: notifications -->
		<a href="#" data-bind="click: showNotifications, css: { 'no-bg': (function() { return notifications.count() == 0 })() }, html: (function() { if (notifications.count() > 0) { return notifications.count() } else { return '<i class=\'zmdi zmdi-notifications\'></i>' } })()" class="notificationsButton badge"></a>
		<ul class="left notificationsMenu" data-bind="with: notifications">
            <!-- ko foreach: notifications -->
			<li data-bind="css: { seen: seen }">
                <a href="#" data-bind="attr: { href: link }">
					<div class="avatar">
						<!-- ko if: icon() -->
						<img src="" data-bind="attr: { src: icon }">
						<!-- /ko -->
                        <!-- ko if: type() == "1" -->
                        <i class="zmdi zmdi-star" data-bind="css: { icon: !icon() }"></i>
                        <!-- /ko -->
						<!-- ko if: type() == "2" -->
						<i class="zmdi zmdi-comment" data-bind="css: { icon: !icon() }"></i>
						<!-- /ko -->
						<!-- ko if: type() == "3" || type() == "5" -->
						<i class="zmdi zmdi-thumb-up" data-bind="css: { icon: !icon() }"></i>
						<!-- /ko -->
						<!-- ko if: type() == "4" || type() == "6" -->
						<i class="zmdi zmdi-thumb-down" data-bind="css: { icon: !icon() }"></i>
						<!-- /ko -->
					</div>
                    <div>
                        <span data-bind="text: message"></span>
                        <small class="timestamp" data-bind="text: date"></small>
                    </div>
                </a>
				<a href="#" class="markRead" data-bind="click: function() { $parent.markRead($data) }">
					<i class="zmdi" data-bind="css: { 'zmdi-eye-off' : seen(), 'zmdi-eye' : !seen() }"></i>
				</a>
            </li>
            <!-- /ko -->
            <li class="more">
                <a href="{{ 'notifications'|path }}">See all</a>
                <a href="#" data-bind="click: markAllRead">Mark all read</a>
            </li>
		</ul>
        <!-- /ko -->
		{% endif %}
		{% endblock %}
		<a class="mobile-button" href="#" data-bind="click: showMenu"><i class="zmdi zmdi-menu"></i></a>
		<ul class="right menu">
            {% block menu %}
			<li><a href="{{ 'gallery'|path }}"><i class="zmdi zmdi-view-module zmdi-hc-fw"></i>Gallery</a></li>
            {% if apine.user %}
			{% if config('runtime', 'can_upload') %}
			<li><a href="{{ 'upload'|path }}" data-bind="click: showUpload"><i class="zmdi zmdi-cloud-upload zmdi-hc-fw"></i>Upload</a></li>
			{% endif %}
			{#{% if config('runtime', 'chat') %}
            <li class="mobile-only"><a href="{{ 'chat'|path }}"><i class="zmdi zmdi-chat zmdi-hc-fw"></i>Chat</a></li>
			{% endif %}#}
            {% endif %}
            {% if not config('runtime', 'privacy') %}
            <li><a href="{{ 'members'|path }}"><i class="zmdi zmdi-accounts zmdi-hc-fw"></i>Members</a></li>
            {% endif %}
            {% if apine.user %}
			<li><a href="{{ 'profile'|path }}"><img class="menu-avatar" src="{{ apine.user.get_property('avatar')|split(':')[0] == 'data' ? apine.user.get_property('avatar') : apine.user.get_property('avatar')|resource }}">{#<i class="material-icons left">account_circle</i>#}{{ apine.user.get_username() }}</a></li>
			<li><a href="{{ 'logout'|path }}"><i class="zmdi zmdi-power zmdi-hc-fw"></i>Logout</a></li>
			{% else %}
            <li><a href="{{ 'login'|path }}" data-bind="click: showLogin" class="login-button"><i class="zmdi zmdi-lock-outline zmdi-hc-fw"></i>Login</a></li>
            {% if config('runtime','registration') %}
            <li><a href="{{ 'register'|path }}" data-bind="click: showRegister" class="register-button"><i class="zmdi zmdi-assignment-account zmdi-hc-fw"></i>Register</a></li>
            {% endif %}
            {% endif %}
            {% endblock %}
		</ul>
	</nav>
		
	<main style="display: none" data-bind="visible: !initializing()">
		<div class="innerContent">
        	{% block content %}{% endblock %}
		</div>
		{% block sidebar %}{% endblock %}
	</main>
	
	<footer>
		<span class="left">
			<a href="{{ ('profile/' ~ config('application', 'author_user'))|path }}">Made with <i class="zmdi zmdi-favorite"></i> by {{ config('application', 'author') }}</a>
		</span>
		<span class="right">
			<a href="{{ 'terms'|path }}"><i class="zmdi zmdi-book"></i><span class="mobile-hide"> Terms of Service</span></a>
			<a href="https://discord.gg/DJSbDCB"><i class="brandIcon brandIcon-discord"></i><span class="mobile-hide"> Discord</span></a>
			<a href="https://www.facebook.com/groups/386237358383189"><i class="zmdi zmdi-facebook-box"></i><span class="mobile-hide"> Facebook</span></a>
		</span>
    </footer>

	<section class="overlay" data-bind="visible: loading()">
		{% include 'utils/loading.html' %}
	</section>

	{% if not apine.user %}
        {% block authmodals %}
            {% include 'modals/register.html' %}
            {% include 'modals/login.html' %}
        {% endblock %}
    {% else %}
		{% if config('runtime', 'can_upload') %}
			{% block uploadmodal %}
				{% include 'modals/upload.html' %}
			{% endblock %}
		{% endif %}
	{% endif %}

	<!-- General scripts -->
	<script src="{{ 'vendor/bower-asset/jquery/dist/jquery.min.js'|resource }}"></script>
	<script src="{{ 'vendor/bower-asset/knockout/dist/knockout.js'|resource }}"></script>
	<script src="{{ 'vendor/bower-asset/knockout-mapping/knockout.mapping.js'|resource }}"></script>
	<script src="{{ 'vendor/bower-asset/pnotify/dist/pnotify.js'|resource }}"></script>
	<script src="{{ 'vendor/bower-asset/pnotify/dist/pnotify.confirm.js'|resource }}"></script>
    <script src="{{ 'vendor/bower-asset/pnotify/dist/pnotify.callbacks.js'|resource }}"></script>
    <script src="{{ 'vendor/bower-asset/pnotify/dist/pnotify.buttons.js'|resource }}"></script>
	<script src="{{ 'vendor/bower-asset/dropzone/dist/min/dropzone.min.js'|resource }}"></script>
	<script src="{{ 'vendor/bower-asset/autosize/dist/autosize.min.js'|resource }}"></script>
	<script src="{{ 'vendor/bower-asset/linkifyjs/linkify.min.js'|resource }}"></script>
	<script src="{{ 'vendor/bower-asset/linkifyjs/linkify-string.js'|resource }}"></script>
	<script src="{{ 'vendor/bower-asset/ua-parser-js/dist/ua-parser.min.js'|resource }}"></script>
	<script src="{{ 'vendor/bower-asset/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js'|resource }}"></script>
	<script src="{{ 'resources/public/scripts/bindings/autosize.knockout.js'|resource }}"></script>
	<script src="{{ 'resources/public/scripts/bindings/lazyload.knockout.js'|resource }}"></script>
	<script src="{{ 'resources/public/scripts/bindings/filters.knockout.js'|resource }}"></script>
	<script src="{{ 'resources/public/scripts/bindings/inline.knockout.js'|resource }}"></script>
	<script src="{{ 'resources/public/scripts/bindings/linkify.knockout.js'|resource }}"></script>
	<script src="{{ 'resources/public/scripts/bindings/charcount.knockout.js'|resource }}"></script>
	<script src="{{ 'resources/public/scripts/viewmodels/notificationViewModel.js'|resource }}"></script>
	<script src="{{ 'resources/public/scripts/viewmodels/mainViewModel.js'|resource }}"></script>
	<script src="{{ 'resources/public/scripts/viewmodels/loginViewModel.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/viewmodels/registerViewModel.js'|resource }}"></script>
	<script src="{{ 'resources/public/scripts/viewmodels/uploadViewModel.js'|resource }}"></script>
	<script src="{{ 'resources/public/scripts/request.js'|resource }}"></script>
	<script src="{{ 'resources/public/scripts/APIRoutes.js'|resource }}"></script>
	<script src="{{ 'resources/public/scripts/script.js'|resource }}"></script>
    <script>
        window.HasNotifications = !!"{{ config('runtime', 'notifications') }}";
    </script>
	{% block scripts %}{% endblock %}
	<!-- Knockout binding -->
	<script>
		Dropzone.autoDiscover = false;
        var user = "{{ apine.user.get_id() ?? '' }}";
		var vm = new MainViewModel(user, window.HasNotifications);
		ko.applyBindings(vm);
    </script>
	{% if not config('runtime','registration') %}
	<script>
		vm.showRegister = function() {
			new ErrorToast({message: 'Registration is currently disabled.'});
		};
	</script>
	{% endif %}
    {% block initialize %}{% endblock %}
	{% include 'utils/analytics.html' %}
</body>
</html>