{% extends 'layouts/layout.html' %}
{% block title %}
	{{ message }}
{% endblock %}
{% block content %}
	<div class="block">
		<span class="title">Error {{ code }}<i class="zmdi zmdi-code right"></i></span>
		<p>{{ message }}<a href="{{ ''|path }}" class="right">Back to safety</a></p>
		{% if trace %}
		<pre>
{{ message }} on {{ file }} ({{ line }})
{{ trace }}
		</pre>
		{% endif %}
	</div>
{% endblock %}
{% block initialize %}
	<script>
		setInitializing(false);
		setLoading(false);
	</script>
{% endblock %}