{% extends 'layouts/layout.html' %}
{% block title %}
    Members
{% endblock %}
{% block content %}
    <!-- ko with: page -->
    <div class="grid">
        <!-- ko foreach: members -->
        <div class="profileCard gridProfile">
            <a data-bind="attr: { href: 'profile/' + username() }, style: { 'background-image': 'url(' + cover() + ')' }">
                <img class="avatar" src="#" data-bind="attr: { src: avatar }">
                <div>
                    <span class="title" data-bind="text: username"></span>
                    <span data-bind="text: group"></span>
                </div>
            </a>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <br/>
{% endblock %}
{% block scripts %}
    <script src="{{ 'vendor/bower-asset/masonry/dist/masonry.pkgd.min.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/models/member.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/viewmodels/membersViewModel.js'|resource }}"></script>
{% endblock %}
{% block initialize %}
    <script>
        (function() {
            vm.showPage(new MembersViewModel());
        })();
    </script>
{% endblock %}