{% extends 'layouts/layout.html' %}
{% block title %}
    Recovery
{% endblock %}
{% block content %}
{% if email_sent %}
<div class="block">
    <span class="title">Your email was sent!<i class="zmdi zmdi-shield-check right"></i></span>
</div>
<br/>
{% endif %}
{% if password_reset %}
<div class="block">
    <span class="title">Your password was successfully reset! You may now login.<i class="zmdi zmdi-shield-check right"></i></span>
</div>
<br/>
{% endif %}
<div class="panel">
    <div class="panel-heading">
        <span class="title">Recovery<i class="zmdi zmdi-lock-outline right"></i></span>
    </div>
    <div class="panel-body">
        <p class="separator">
            Please enter your username or your email address and we will send you a password reset request email.
        </p>
        <form action="{{ 'recovery'|path }}" method="post">
            <div class="input-field">
                <div class="input-label">
                    <span>Username</span>
                </div>
                <div class="input-field-wrap">
                    <label for="user"><i class="zmdi zmdi-account-o"></i></label>
                    <input name="user" id="user" type="text" placeholder="pseudonym">
                </div>
            </div>
            <div class="input-field-inline">or</div>
            <div class="input-field">
                <div class="input-label">
                    <span>Email</span>
                </div>
                <div class="input-field-wrap">
                    <label for="email"><i class="zmdi zmdi-email"></i></label>
                    <input name="email" id="email" type="email" placeholder="yourname@domain.com">
                </div>
            </div>
            <div class="input-field submit">
                <button type="submit">Send email</button>
            </div>
        </form>
    </div>
</div>
<br/>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block initialize %}
<script>
    (function() {
        setInitializing(false);
        setLoading(false);
    })();
</script>
{% endblock %}