{% extends 'layouts/layout.html' %}
{% block title %}
    Upload
{% endblock %}
{% block content %}
    <!-- ko with: page -->
    <div class="panel">
        <div class="panel-heading">
            <span class="title">Upload<i class="zmdi zmdi-cloud-upload right"></i></span>
        </div>
        <div class="panel-body">
            {% include 'utils/upload.html' %}
        </div>
    </div>
    <br/>
    <!-- /ko -->
{% endblock %}
{% block uploadmodal %}{% endblock %}
{% block scripts %}
{% endblock %}
{% block initialize %}
    <script>
        (function() {
            vm.showUpload = function() {
                window.location.href = "{{ 'upload'|path }}";
            };
            vm.showPage(new UploadViewModel());
        })();
    </script>
{% endblock %}