@import "colors";

* {
    padding: 0;
    border: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: @main-color;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 250px;
        width: auto;
    }
}