* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
.text-center {
  text-align: center;
}
hr {
  border: 1px solid #3d3d3d;
  margin-bottom: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
}
html {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
body {
  color: #f5f5f5;
  background: #232323;
  font-size: 1em;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
  height: 100vh;
  transition: .5s;
  position: absolute;
}
body.modal-open {
  position: absolute;
  overflow: hidden;
}
nav {
  background: #3d3d3d;
  position: fixed;
  top: 0;
  z-index: 70;
  width: 100%;
  height: 2.5rem;
  padding: 0 1.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 959px) {
  nav {
    padding: 0 0.5rem;
    height: 3.5rem;
  }
  nav > .input {
    display: none;
  }
}
@media (min-width: 960px) {
  nav > .input {
    margin-left: 0.5rem;
    display: inline-block;
    vertical-align: middle;
  }
  nav > .input span {
    vertical-align: middle;
  }
}
@media only screen and (max-width: 549px) {
  nav {
    padding-right: 0;
  }
}
nav a.title {
  display: inline-block;
  color: #f5f5f5;
  font-size: 2em;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  text-decoration: none;
  vertical-align: middle;
}
@media only screen and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 959px) {
  nav a.title {
    font-size: 2.75rem;
  }
}
nav a.title:hover {
  color: #fb9a9a;
}
nav a.title small {
  color: #f96969;
  font-size: 0.5em;
  font-variant: small-caps;
}
nav .menu-avatar {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  vertical-align: middle;
  background: #f5f5f5;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 0.25rem;
  margin-right: 1rem;
}
@media (min-width: 960px) {
  nav ul.menu {
    list-style: none url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    float: right;
  }
  nav ul.menu li {
    float: left;
    margin-left: 0.5rem;
  }
  nav ul.menu li .input {
    display: none;
  }
  nav ul.menu li a,
  nav ul.menu li label {
    display: inline-block;
    color: #f5f5f5;
    padding: 0.5rem;
    height: 2.5rem;
    line-height: 1.5rem;
    text-decoration: none;
    cursor: pointer;
  }
  nav ul.menu li a input,
  nav ul.menu li label input {
    position: absolute;
    left: -99999999999px;
  }
  nav ul.menu li a.active,
  nav ul.menu li label.active {
    background: #fb9a9a;
    color: #3d3d3d;
  }
  nav ul.menu li a.active:hover,
  nav ul.menu li label.active:hover {
    background: #f96969;
    color: #303030;
  }
  nav ul.menu li a:hover,
  nav ul.menu li label:hover {
    background: #fb9a9a;
    color: #3d3d3d;
  }
  nav ul.menu li a .zmdi,
  nav ul.menu li label .zmdi {
    vertical-align: bottom;
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }
  nav ul.menu .mobile-hide {
    display: none;
  }
}
@media only screen and (max-width: 549px) {
  nav ul.menu {
    top: 3.5rem;
    left: 0;
    width: 100%;
    height: 100vh;
  }
}
@media only screen and (min-width: 550px) and (max-width: 959px) {
  nav ul.menu {
    top: 3.5rem;
    right: 0;
    width: 50%;
    height: auto;
  }
}
@media only screen and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 959px) {
  nav ul.menu {
    list-style: none url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    background: #f5f5f5;
    position: fixed;
    display: none;
    overflow: hidden;
  }
  nav ul.menu li .input {
    padding: 0.75rem;
    margin: 0;
    float: right;
  }
  nav ul.menu li .input span {
    color: #232323;
  }
  nav ul.menu li a {
    display: block;
    color: #232323;
    padding: 1rem 1.5rem;
    height: 3.5rem;
    line-height: 1.5rem;
    text-decoration: none;
  }
  nav ul.menu li a:hover {
    background: #f96969;
    color: #232323;
  }
  nav ul.menu li a .zmdi {
    vertical-align: bottom;
    margin-right: 0.75rem;
    font-size: 1.5rem;
  }
}
nav ul.notificationsMenu {
  list-style: none url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
  background: #fb9a9a;
  position: fixed;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}
nav ul.notificationsMenu .timestamp {
  display: block;
}
nav ul.notificationsMenu li {
  display: block;
  position: relative;
}
nav ul.notificationsMenu li.seen {
  background: #f5f5f5;
}
nav ul.notificationsMenu li.more {
  background: #f5f5f5;
  display: flex;
}
nav ul.notificationsMenu li.more a {
  display: inline-block;
  width: 50%;
  text-align: center;
}
nav ul.notificationsMenu li .avatar {
  position: relative;
}
nav ul.notificationsMenu li .avatar img {
  margin-right: 1rem;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #f5f5f5;
  border: 2px solid rgba(0, 0, 0, 0.5);
}
nav ul.notificationsMenu li .avatar .zmdi {
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  bottom: 0.25rem;
  right: 0;
  padding: 0.25rem;
  width: 26px;
  height: 26px;
  text-align: center;
}
nav ul.notificationsMenu li .avatar .zmdi.icon {
  padding: 1rem;
  position: static;
  font-size: 2rem;
}
nav ul.notificationsMenu li a {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  color: #232323;
  padding: 1rem 1.5rem;
  min-height: 3.5rem;
  line-height: 1.5rem;
  text-decoration: none;
}
nav ul.notificationsMenu li a:hover {
  background: #f96969;
  color: #232323;
}
nav ul.notificationsMenu li a .zmdi {
  margin-right: 0.75rem;
}
nav ul.notificationsMenu li .markRead {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem;
  height: 100%;
}
nav ul.notificationsMenu li .markRead .zmdi {
  margin: 0;
  font-size: 1.5rem;
}
@media only screen and (max-width: 549px) {
  nav ul.notificationsMenu li .markRead {
    visibility: visible;
  }
}
nav ul.notificationsMenu li:hover .markRead {
  visibility: visible;
}
@media (min-width: 960px) {
  nav ul.notificationsMenu {
    top: 2.5rem;
    left: 0;
    width: 33%;
    height: auto;
    max-height: calc(100vh - 2.5rem);
  }
}
@media only screen and (min-width: 550px) and (max-width: 959px) {
  nav ul.notificationsMenu {
    top: 3.5rem;
    left: 0;
    width: 66%;
    height: auto;
    max-height: calc(100vh - 3.5rem);
  }
}
@media only screen and (max-width: 549px) {
  nav ul.notificationsMenu {
    top: 3.5rem;
    left: 0;
    width: 100%;
    height: auto;
    max-height: calc(100vh - 3.5rem);
  }
}
@media (min-width: 960px) {
  nav .mobile-button {
    display: none;
  }
}
@media only screen and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 959px) {
  nav .mobile-button {
    display: inline-block;
    float: right;
    color: #f5f5f5;
    font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
    text-decoration: none;
    padding: 0 1rem;
    height: 3.5rem;
  }
  nav .mobile-button .zmdi {
    font-size: 2rem;
    line-height: 1.75em;
  }
  nav .mobile-button:hover {
    background: #fb9a9a;
  }
}
main {
  flex: 1 100%;
  margin-bottom: 2.5rem;
}
main.sidebarOpen {
  width: 75%;
}
main .innerContent {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 960px) {
  main .innerContent {
    width: 1440px;
  }
  main .innerContent .grid[data-columns]:before {
    content: '8 .grid-item';
  }
  main .innerContent .grid-item {
    width: 12.5%;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1439px) {
  main .innerContent {
    width: 950px;
  }
  main .innerContent .grid[data-columns]:before {
    content: '5 .grid-item';
  }
  main .innerContent .grid-item {
    width: 20%;
  }
}
@media only screen and (min-width: 550px) and (max-width: 959px) {
  main .innerContent {
    width: 100%;
  }
  main .innerContent .grid {
    width: 525px;
    margin: 0 auto;
  }
  main .innerContent .grid[data-columns]:before {
    content: '3 .grid-item';
  }
  main .innerContent .grid-item {
    width: 33.333%;
  }
}
@media only screen and (max-width: 549px) {
  main .innerContent {
    width: 100%;
  }
  main .innerContent .grid[data-columns]:before {
    content: '2 .grid-item';
  }
  main .innerContent .grid-item {
    width: 50%;
  }
}
@media (min-width: 960px) {
  main {
    margin-top: 2.5rem;
  }
}
@media only screen and (min-width: 550px) and (max-width: 959px), only screen and (max-width: 549px) {
  main {
    margin-top: 3.5rem;
    margin-bottom: 5rem;
  }
}
main .alert {
  background: #be3237;
  padding: 0.25rem 0.5rem;
  color: #303030;
  border-radius: 0.5rem;
  margin-right: 0.25rem;
}
main .alert:empty {
  display: none;
}
main .title-block {
  border-radius: 0;
}
main .title-block.alert {
  text-align: center;
  width: 100%;
  display: block;
  background: #be3237;
  color: #303030;
  padding: 1rem;
}
main .title-block.resolve {
  text-align: center;
  width: 100%;
  display: block;
  background: #32be37;
  color: #303030;
  padding: 1rem;
}
main .title-block:empty {
  display: none;
}
main .notificationsList {
  list-style: none url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
  background: #3d3d3d;
  margin-top: 0.25rem;
}
main .notificationsList .timestamp {
  display: block;
}
main .notificationsList li {
  display: block;
  position: relative;
}
main .notificationsList li.seen {
  background: #303030;
}
main .notificationsList li .avatar {
  position: relative;
}
main .notificationsList li .avatar img {
  margin-right: 1rem;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #f5f5f5;
  border: 2px solid rgba(0, 0, 0, 0.5);
}
main .notificationsList li .avatar .zmdi {
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  bottom: 0.25rem;
  right: 0;
  padding: 0.25rem;
  width: 26px;
  height: 26px;
  text-align: center;
}
main .notificationsList li .avatar .zmdi.icon {
  padding: 1rem;
  position: static;
  font-size: 2rem;
}
main .notificationsList li a {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  color: #f5f5f5;
  padding: 1rem 1.5rem;
  min-height: 3.5rem;
  line-height: 1.5rem;
  text-decoration: none;
}
main .notificationsList li a:hover {
  background: #f96969;
  color: #232323;
}
main .notificationsList li a .zmdi {
  color: #232323;
  margin-right: 0.75rem;
}
main .notificationsList li .markRead {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem;
  height: 100%;
}
main .notificationsList li .markRead .zmdi {
  font-size: 1.5rem;
  margin: 0;
}
@media only screen and (max-width: 549px) {
  main .notificationsList li .markRead .zmdi {
    color: #f5f5f5;
  }
}
@media only screen and (max-width: 549px) {
  main .notificationsList li .markRead {
    visibility: visible;
  }
}
main .notificationsList li:hover .markRead {
  visibility: visible;
}
main .image-block {
  width: 60rem;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}
main .image-block .details {
  background: #3d3d3d;
  line-height: 2em;
  padding: 1.5rem;
  color: #fb9a9a;
}
main .image-block .details .image-title {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 1.5em;
  word-wrap: break-word;
}
main .image-block .details .image-title textarea {
  background: #3d3d3d;
  border: 2px solid #32be37;
  color: #f5f5f5;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 1.5rem;
  width: 100%;
  max-width: 100%;
}
main .image-block .details small {
  font-size: 1rem;
  color: #f96969;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
}
main .image-block .details textarea {
  font-size: 1.25em;
}
main .image-block .details a:hover,
main .image-block .details a:focus {
  color: #f96969;
  text-decoration: underline;
  cursor: pointer;
}
main .image-block .details .zmdi {
  margin-left: 0.5rem;
  vertical-align: middle;
  display: inline-block;
  height: 1.75rem;
}
main .image-block .elements > :not(:last-child) {
  display: block;
  border-bottom: 0.25rem solid #3d3d3d;
}
main .image-block .elements {
  background: #303030;
}
main .image-block .elements > div {
  text-align: center;
}
main .image-block .elements img,
main .image-block .elements video {
  max-height: 100%;
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
main .image-block .showElements {
  padding: 1rem;
  display: block;
  text-align: center;
  background: #303030;
  border-top: 0.25rem solid #3d3d3d;
}
main .image-block .showElements:hover {
  background: #f96969;
  color: #232323;
}
main .image-block .description {
  background: #3d3d3d;
  padding: 1.5rem;
  word-wrap: break-word;
}
main .image-block .description p,
main .image-block .description span {
  white-space: pre-wrap;
  display: inline-block;
}
main .image-block .description textarea {
  background: #3d3d3d;
  border: 2px solid #32be37;
  color: #f5f5f5;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
}
main .image-block .description .inline-icon {
  vertical-align: middle;
}
main .image-block .description a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #f96969;
}
main .image-block .description a:hover {
  color: #fb9a9a;
}
main .image-block .description > .charMax {
  color: #a9a9a9;
  vertical-align: middle;
}
main .image-block .description .zmdi {
  margin-left: 0.5rem;
  vertical-align: middle;
  display: inline-block;
  height: 1.75rem;
  font-size: 1.5em;
}
main .image-block .middle-block {
  background: #3d3d3d;
  width: 100%;
}
main .image-block .publication {
  padding: 1rem 1.5rem;
  display: inline-block;
  line-height: 1.5rem;
  color: #a9a9a9;
}
main .image-block .publication .section {
  display: inline-block;
}
main .image-block .publication img {
  height: 1.5rem;
  vertical-align: middle;
  border-radius: 50%;
  background: #f5f5f5;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
main .image-block .publication .tag {
  background: #be3237;
  padding: 0.25rem 0.5rem;
  color: #303030;
  border-radius: 0.5rem;
  margin-right: 0.25rem;
}
main .image-block .publication .tag .zmdi {
  font-size: 1em;
}
main .image-block .publication a {
  color: #f96969;
}
main .image-block .publication a:hover {
  color: #fb9a9a;
}
@media (min-width: 960px), only screen and (min-width: 550px) and (max-width: 959px) {
  main .image-block .publication {
    height: 3.5rem;
  }
}
main .votes-block {
  height: 3.5rem;
  background: #232323;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 1.25em;
  text-align: center;
  display: block;
  line-height: 1.5rem;
  min-width: 7.75rem;
  float: right;
  padding: 0.5rem 0 0 0.5rem;
}
main .votes-block a {
  min-width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  margin-right: 0;
  display: inline-block;
  text-decoration: none;
  float: left;
}
main .votes-block a.upvotes {
  background: #32be37;
  color: #1e8223;
}
main .votes-block a.upvotes:hover,
main .votes-block a.upvotes.voted {
  background: #1e8223;
  color: #f5f5f5;
}
main .votes-block a.upvotes.voted:hover {
  background: #145918;
}
main .votes-block a.downvotes {
  background: #be3237;
  color: #821e23;
  margin-left: 0.5rem;
}
main .votes-block a.downvotes:hover,
main .votes-block a.downvotes.voted {
  background: #821e23;
  color: #f5f5f5;
}
main .votes-block a.downvotes.voted:hover {
  background: #591418;
}
main .votes-block a.more {
  background: #3d3d3d;
  color: #f96969;
  margin-left: 0.5rem;
}
main .votes-block a.more:hover,
main .votes-block a.more.voted {
  background: #303030;
  color: #f5f5f5;
}
main .votes-block a.more.voted:hover {
  background: #232323, 10%;
}
main .votes-block .morePopupContainer {
  position: relative;
}
main .votes-block .morePopupContainer .morePopup {
  position: absolute;
  bottom: 0;
  width: 10rem;
  height: auto;
  z-index: 8;
}
main .votes-block .morePopupContainer .morePopup li {
  background: #f5f5f5;
  list-style: none;
  width: 10rem;
  height: 3rem;
}
main .votes-block .morePopupContainer .morePopup li a {
  height: 100%;
  width: 100%;
  text-align: left;
  color: #232323;
}
main .votes-block .morePopupContainer .morePopup li a:hover {
  background: #a9a9a9;
}
main .votes-block .morePopupContainer .morePopup li a .zmdi {
  vertical-align: middle;
}
main .votes-block .morePopupContainer .morePopup li a span {
  font-size: 1rem;
  vertical-align: middle;
}
main .comments {
  margin: 0.5rem 0;
  width: 100%;
  background: #3d3d3d;
}
main .comments .commentForm {
  display: flex;
  width: 100%;
}
main .comments .commentForm > form {
  width: 100%;
  padding: 0;
}
@media only screen and (max-width: 549px) {
  main .comments .commentForm > form {
    border-top: 0.5rem solid #232323;
  }
}
main .comments .commentForm #commentImage img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
}
main .comments .block-button {
  background: #3d3d3d;
  color: #a9a9a9;
  width: 100%;
  text-align: center;
  display: block;
  line-height: 2em;
  height: 3rem;
  font-size: 1.25em;
  padding: 0.25rem;
}
main .comments .block-button:not(div):hover {
  background: #f96969;
  color: #232323;
}
main .comments .block-button .zmdi {
  vertical-align: text-bottom;
}
main .comments .big-button {
  background: #32be37;
  color: #232323;
  width: 40%;
  text-align: center;
  display: block;
  line-height: 2em;
  height: 3rem;
  font-size: 1.25em;
  padding: 0.25rem;
  float: left;
}
main .comments .big-button.cancel {
  background: #be3237;
}
main .comments .big-button.image-button {
  background: #3d3d3d;
  color: #fb9a9a;
  width: 20%;
  border: 0;
  border-radius: 0;
  min-height: 0;
}
main .comments .big-button.image-button .dz-default {
  margin: 0;
  font-size: 1em;
}
main .comments .big-button.image-button .zmdi {
  margin-right: 0;
}
main .comments .big-button:hover {
  background: #232323;
  color: #f5f5f5;
}
main .comments form textarea {
  vertical-align: middle;
  background: #303030;
  color: #f5f5f5;
  width: 100%;
}
main .comments .showComments {
  padding: 1rem;
  display: block;
  text-align: center;
  background: #303030;
  border-top: 0.5rem solid #3d3d3d;
}
main .comments .showComments:hover {
  background: #f96969;
  color: #232323;
}
main .comments .comment {
  position: relative;
  background: #303030;
  color: #a9a9a9;
  padding: 1.5rem;
  display: flex;
}
main .comments .comment .comment-votes {
  width: 4rem;
  display: flex;
  flex-direction: column;
}
main .comments .comment .comment-votes a {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main .comments .comment .comment-votes a .zmdi {
  margin: 0;
}
main .comments .comment .comment-votes .upvotes {
  color: #32be37;
}
main .comments .comment .comment-votes .upvotes.voted {
  color: #fb9a9a;
}
main .comments .comment .comment-votes .downvotes {
  color: #be3237;
}
main .comments .comment .comment-votes .downvotes.voted {
  color: #fb9a9a;
}
main .comments .comment .comment-content {
  width: 100%;
}
main .comments .comment.highlight {
  border: solid 2px #32be37;
}
main .comments .comment .avatar {
  margin-right: 0.5rem;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #f5f5f5;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 549px) {
  main .comments .comment .avatar {
    width: 32px;
    height: 32px;
  }
}
main .comments .comment .morePopupContainer {
  background: #3d3d3d;
}
main .comments .comment .morePopupContainer .morePopup {
  list-style: none;
  float: left;
  padding: 0.5rem;
}
main .comments .comment .morePopupContainer .morePopup li {
  float: left;
}
main .comments .comment .zmdi {
  margin-left: 0.5rem;
  vertical-align: middle;
  display: inline-block;
  height: 1.75rem;
  font-size: 1.5rem;
}
main .comments .comment .content {
  font-size: 0.9em;
}
main .comments .comment .content .author {
  font-size: 1.1em;
}
main .comments .comment .commentImage {
  margin-top: 0.5rem;
  width: 100%;
}
main .comments .comment .commentImage img {
  max-width: 100%;
  height: auto;
}
main .comments .comment span.commentText,
main .comments .comment .commentText span {
  color: #f5f5f5;
  display: inline-block;
  margin-top: 0.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}
main .comments .comment textarea {
  background: #3d3d3d;
  border: 2px solid #32be37;
  color: #f5f5f5;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
}
main .comments .comment .charMax {
  color: #a9a9a9;
  vertical-align: middle;
}
main .comments .comment + .comment {
  margin-top: 0.5rem;
}
main .comments .comment a {
  color: #f96969;
}
main .comments .comment a:hover {
  color: #fb9a9a;
}
main .comments .comment .inline-input + a {
  top: 1rem;
  right: 1rem;
  position: absolute;
}
main .inside-item {
  float: left;
  width: 12.5%;
  display: block;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.5s linear;
}
@media only screen and (min-width: 960px) and (max-width: 1439px) {
  main .inside-item {
    width: 20%;
  }
}
@media only screen and (min-width: 550px) and (max-width: 959px) {
  main .inside-item {
    width: 33.33333%;
  }
}
@media only screen and (max-width: 549px) {
  main .inside-item {
    width: 50%;
  }
}
main .inside-item .image {
  display: block;
  padding: 0.25rem;
}
main .inside-item .image * {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
main .inside-item .image .image-wrap {
  overflow: hidden;
}
main .inside-item .image .image-wrap img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  transform: scale(1.05);
}
main .inside-item .image .image-wrap.mature {
  display: flex;
  position: relative;
}
main .inside-item .image .image-wrap.mature canvas {
  position: absolute;
  left: 0;
}
main .inside-item .image .image-wrap.mature img {
  -webkit-filter: blur(10px);
  -ms-filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
  filter: blur(10px);
}
main .inside-item .image .image-wrap.mature:before {
  content: '';
  z-index: 9;
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
main .inside-item .image .image-wrap.mature:after {
  content: 'NSFW';
  z-index: 9;
  flex: 1;
  align-self: center;
  position: absolute;
  left: 0;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  padding: 0;
  width: 100%;
  height: 50%;
  line-height: 0;
  bottom: 0;
}
main .inside-item .image .image-wrap.removed {
  display: flex;
  position: relative;
}
main .inside-item .image .image-wrap.removed canvas {
  position: absolute;
  left: 0;
}
main .inside-item .image .image-wrap.removed img {
  -webkit-filter: blur(10px);
  -ms-filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
  filter: blur(10px);
}
main .inside-item .image .image-wrap.removed:before {
  content: '';
  z-index: 9;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #be3237;
  opacity: 0.5;
}
main .inside-item .image .image-wrap.removed:after {
  content: '×';
  z-index: 9;
  flex: 1;
  align-self: center;
  position: absolute;
  left: 0;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 15rem;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  padding: 0;
  width: 100%;
  height: 50%;
  line-height: 0;
  bottom: 0;
}
main .inside-item .image-type {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  height: 1.75rem;
  width: 1.75rem;
  z-index: 15;
  font-size: 1.5rem;
  color: #f5f5f5;
  background: #232323;
  text-align: center;
  line-height: 1.75rem;
  border-radius: 0.25rem;
}
main .inside-item .image-hover {
  display: block;
  width: 100%;
  margin-top: -0.5rem;
  padding: 0.25rem;
}
main .inside-item .image-hover .image-title {
  display: block;
  background: #3d3d3d;
  color: #fb9a9a;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  line-height: 1.5rem;
  overflow: hidden;
  word-wrap: break-word;
}
main .inside-item:hover .mature:before,
main .inside-item:hover .mature:after {
  display: none !important;
}
main .inside-item:hover .image-wrap:not(.removed) canvas {
  display: none !important;
}
main .inside-item:hover .image-wrap:not(.removed) img {
  transform: scale(1) !important;
  -webkit-filter: none !important;
  filter: none !important;
}
main .inside-item:hover .image-title {
  background-color: #303030;
}
main .uploadIconDelete {
  display: none;
}
main .tabSelector {
  list-style: none;
  display: flex;
  flex: 1 0;
  width: 100%;
}
main .tabSelector li {
  width: 100%;
  background: #303030;
}
main .tabSelector li.selected {
  background: #3d3d3d;
}
main .tabSelector li a {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: 1.25rem;
}
main .tabs {
  list-style: none;
}
main .tabs li:not(.selected) {
  display: none;
}
main .panel {
  background: #3d3d3d;
}
main .panel a {
  color: #f96969;
}
main .panel a:hover {
  color: #fb9a9a;
}
main .panel .panel-heading {
  padding: 1.5rem 1rem 1rem;
  height: 4.5rem;
}
main .panel .panel-heading .title {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  color: #f96969;
}
main .panel .panel-heading .title .right {
  padding-right: 1rem;
  float: right;
  color: #fb9a9a;
}
main .panel .panel-heading .title:after {
  content: '';
  width: 100%;
  display: block;
  border-top: 2px solid #232323;
  margin-top: 1rem;
}
main .panel .panel-body {
  padding: 1rem;
}
@media (min-width: 960px), only screen and (min-width: 550px) and (max-width: 959px) {
  main .panel .panel-body.panel-wrap {
    display: flex;
  }
  main .panel .panel-body.panel-wrap .col-half {
    width: 50%;
  }
  main .panel .panel-body.panel-wrap .col-third {
    width: 33.3333%;
  }
  main .panel .panel-body.panel-wrap .col-quarter {
    width: 25%;
  }
  main .panel .panel-body.panel-wrap .col-fifth {
    width: 20%;
  }
}
@media (min-width: 960px), only screen and (min-width: 550px) and (max-width: 959px) {
  main .panel .panel-body.panel-wrap .col-half:not(:last-of-type),
  main .panel .panel-body.panel-wrap .col-third:not(:last-of-type),
  main .panel .panel-body.panel-wrap .col-quarter:not(:last-of-type),
  main .panel .panel-body.panel-wrap .col-fifth:not(:last-of-type) {
    border-right: 2px solid #232323;
  }
}
@media only screen and (max-width: 549px) {
  main .panel .panel-body.panel-wrap .col-half:not(:last-of-type),
  main .panel .panel-body.panel-wrap .col-third:not(:last-of-type),
  main .panel .panel-body.panel-wrap .col-quarter:not(:last-of-type),
  main .panel .panel-body.panel-wrap .col-fifth:not(:last-of-type) {
    border-bottom: 2px solid #232323;
    margin-bottom: 1.5rem;
  }
}
main .panel .panel-body .separator {
  text-align: center;
}
main .panel .panel-body .separator:after {
  content: '';
  width: 100%;
  display: block;
  border-top: 2px solid #232323;
  margin-top: 1rem;
}
main .panel .panel-body .lead {
  text-align: center;
  font-size: 1.25em;
  color: #fb9a9a;
  margin: 0.5rem 1rem;
}
main .panel .panel-body .list {
  margin: 2rem 2rem 2rem 3rem;
}
main .panel .panel-body .list li {
  margin-bottom: 1rem;
}
main .block {
  background: #3d3d3d;
  padding: 2rem;
}
main .block hr {
  border: 1px solid #232323;
  margin-bottom: 1rem;
  margin-left: -2rem;
  margin-right: -2rem;
}
main .block .title {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  color: #f96969;
  font-size: 1.5em;
}
main .block .title .zmdi {
  color: #fb9a9a;
}
main .block .confirmation {
  padding: 1rem;
}
main .block .confirmation ol {
  padding-left: 1rem;
}
main .block .confirmation ol li {
  margin-bottom: 1rem;
}
main .block .confirmation > p {
  font-size: 1.125em;
  color: #f5f5f5;
}
main .block .confirmation a {
  color: #f96969;
}
main .block .confirmation a:hover {
  color: #fb9a9a;
}
@media (min-width: 960px) {
  main .block .col {
    width: 50%;
    float: left;
  }
}
main .block .col dt {
  font-size: 0.8em;
}
main .block .col dd {
  margin-bottom: 1rem;
}
main .block .col dd.big {
  font-size: 1.5em;
}
main .block .col dd .button {
  background: transparent;
  color: #fb9a9a;
  font-size: 0.8em;
  padding: 0.25rem 0.75rem;
  margin-left: 2rem;
  position: relative;
  top: -0.5rem;
}
main .block .col dd .button:hover {
  background: #fb9a9a;
  color: #232323;
}
main .block .col dd .zmdi {
  vertical-align: middle;
}
main .block .left {
  float: left;
}
main .block .center {
  text-align: center;
  margin-bottom: 1rem;
}
main .block .right {
  float: right;
}
main .block .bottom {
  float: none;
  clear: both;
}
main .block pre {
  margin-top: 1rem;
  width: 100%;
}
.block.cover {
  text-align: center;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.block.cover > h1 {
  color: #fb9a9a;
  text-shadow: #232323 2px 2px;
}
.block.cover > h1 textarea {
  background: #232323;
  border: 2px solid #32be37;
  color: #fb9a9a;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  width: auto;
  max-height: 2.75rem;
  vertical-align: middle;
}
.block.cover > h1 .inline-icon {
  vertical-align: middle;
}
.block.cover .topRightButtons {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5em;
}
.block.cover .avatarContainer {
  position: relative;
  height: 250px;
  width: 250px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background: #f5f5f5;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.block.cover .avatarContainer .avatar,
.block.cover .avatarContainer .avatar img {
  height: 250px;
  width: 250px;
}
.block.cover .avatarContainer .cornerEdit.dropzone {
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 0;
  min-height: initial;
  padding: 0.5rem;
  width: 100%;
  display: block;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.block.cover .avatarContainer .cornerEdit.dropzone:hover {
  color: inherit;
}
.block.cover .avatarContainer .cornerEdit.dropzone > div {
  margin: 0;
}
@media only screen and (min-width: 550px) and (max-width: 959px) {
  .block.cover .avatarContainer {
    height: 200px;
    width: 200px;
  }
  .block.cover .avatarContainer .avatar,
  .block.cover .avatarContainer .avatar img {
    height: 200px;
    width: 200px;
  }
}
@media only screen and (max-width: 549px) {
  .block.cover .avatarContainer {
    height: 150px;
    width: 150px;
  }
  .block.cover .avatarContainer .avatar,
  .block.cover .avatarContainer .avatar img {
    height: 150px;
    width: 150px;
  }
}
.vote {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.vote .innerVote {
  flex: 1;
}
.vote .innerVote a {
  display: flex;
  align-items: center;
}
.vote .innerVote .avatar {
  display: inline-block;
  margin-right: 0.5rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #f5f5f5;
  border: 2px solid rgba(0, 0, 0, 0.5);
}
.vote.upvote {
  color: #1e8223;
}
.vote.downvote {
  color: #be3237;
}
.vote .zmdi {
  text-align: right;
  font-size: 2rem;
  flex: 1;
}
.portalButtons {
  display: flex;
  flex-flow: row wrap;
}
.portalButtons .avatar {
  display: inline-block;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: #f5f5f5;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-right: 0.5rem;
}
.portalButtons .title {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.portalButtons .title .info {
  display: flex;
  flex-direction: column;
}
.portalButtons .title .info small {
  font-size: 0.75rem;
}
.portalButtons p {
  padding: 1rem;
}
.portalButtons .modal .avatar-area {
  width: 16rem;
}
@media only screen and (max-width: 549px) {
  .portalButtons .modal .avatar-area {
    max-width: 8.5rem;
  }
}
.portalButtons .portalContainer {
  padding: 0.25rem;
  width: 100%;
}
.portalButtons .portalContainer div {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  background: #3d3d3d;
}
.portalButtons .portalButton {
  padding: 0.25rem;
  width: 33.333%;
}
@media only screen and (min-width: 550px) and (max-width: 959px) {
  .portalButtons .portalButton {
    width: 50%;
  }
}
@media only screen and (max-width: 549px) {
  .portalButtons .portalButton {
    width: 100%;
  }
}
.portalButtons .portalButton a {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  background: #3d3d3d;
}
.portalButtons .portalButton a .tag {
  vertical-align: middle;
  background: #32be37;
  border-radius: 50%;
  padding: 0.25rem;
  margin-left: 0.25rem;
}
.portalButtons .portalButton a h3 {
  font-size: 2.5em;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
}
.portalButtons .portalButton a h2 {
  font-size: 1.125em;
}
.portalButtons .portalButton a h3 + h2 {
  margin-left: auto;
}
.portalButtons .portalButton a:hover {
  background: #fb9a9a;
  color: #232323;
}
.portalButtons .portalButton a:hover .tag {
  background: #232323;
  color: #32be37;
}
.portalButtons .portalButton div {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  background: #303030;
  color: #a9a9a9;
}
.portalButtons .portalButton div h3 {
  font-size: 2.5em;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
}
.portalButtons .portalButton div h2 {
  font-size: 1.125em;
  margin-left: auto;
}
.left {
  text-align: left;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.end-info,
.no-info {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  color: #f5f5f5;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}
.end-info a,
.no-info a {
  font-size: 1.25rem;
  border: dashed 3px #f5f5f5;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}
.end-info a:hover,
.no-info a:hover {
  color: #303030;
  border-color: #303030;
  background-color: #fb9a9a;
}
.end-info a .zmdi,
.no-info a .zmdi {
  font-size: 1rem;
  padding-right: 0.5rem;
}
.header {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  color: #f5f5f5;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  margin: 2rem 0 0.25rem;
}
.header span {
  display: inline-block;
  padding-bottom: 0.5rem;
}
.chat-wrapper {
  width: 300px;
  display: inline-block;
  margin-right: -1.5rem;
  margin-left: 1.5rem;
  text-align: left;
}
@media only screen and (max-width: 549px) {
  .chat-wrapper {
    display: none;
  }
}
.chat-wrapper a {
  cursor: pointer;
}
.chat-wrapper .chat-header {
  display: block;
  color: #fb9a9a;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  background: #303030;
  padding: 0 1rem;
  height: 40px;
}
.chat-wrapper .chat-header span {
  vertical-align: middle;
}
.chat-wrapper .chat-header .open {
  font-size: 2.5em;
}
.chat-wrapper .chat-header .close {
  font-size: 1.5em;
}
.chat-wrapper .chat-header .more {
  margin-top: -4px;
  display: inline-block;
}
.chat-wrapper .chat-header .more .zmdi {
  vertical-align: middle;
}
.chat-wrapper .chat-header .more .zmdi .close,
.chat-wrapper .chat-header .more .zmdi .open {
  display: inline-block;
}
.chat-wrapper .chat-header .more .zmdi .icons {
  float: right;
}
.chat-wrapper .user-list {
  background: #f5f5f5;
  position: absolute;
  top: 2.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 1rem;
}
.chat-wrapper .user-list strong {
  color: #232323;
}
.chat-wrapper .user-list a {
  color: #232323;
}
.chat-wrapper .user-list a:hover {
  color: #f96969;
}
.chat-wrapper .user-list ul {
  list-style-type: none;
}
.chat-wrapper .user-list .close {
  float: right;
}
.chat-wrapper .chat-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 360px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.chat-wrapper .chat-overlay * {
  display: block;
  align-self: center;
}
.chat-wrapper .chat-overlay a {
  background: #f96969;
  color: #232323;
  padding: 0 1rem;
}
.chat-wrapper .chat-overlay a:hover {
  background: #f5f5f5;
}
.chat-wrapper .chat-content {
  display: block;
  height: 400px;
  width: 300px;
  position: absolute;
  bottom: 0;
  background: #3d3d3d;
}
.chat-wrapper .chat-content .messages {
  overflow-y: scroll;
  position: relative;
  top: 0;
  width: 100%;
  height: 320px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.chat-wrapper .chat-content .messages .innermessages > span {
  display: block;
  text-align: left;
  line-height: 1.5;
}
.chat-wrapper .chat-content .messages .innermessages > span small {
  padding: 0 0.75rem;
  color: #f96969;
  line-height: 1;
  display: inline;
}
.chat-wrapper .chat-content .messages .innermessages > span p {
  line-height: 1;
  padding: 0 0.75rem 0.75rem 0.75rem;
  white-space: pre-wrap;
  word-break: break-all;
}
.chat-wrapper .chat-content .messages .innermessages > strong {
  display: block;
  text-align: center;
  color: #a9a9a9;
}
.chat-wrapper .chat-content .messages .innermessages .self {
  text-align: right;
}
.chat-wrapper .chat-content textarea {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 0;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-size: 0.99em;
  background: #f5f5f5;
  color: #232323;
  padding: 0.75rem;
  resize: none;
  height: 2.5rem;
  min-height: 2.5rem;
  max-height: 6rem;
  overflow: hidden;
  vertical-align: middle;
}
.chat-wrapper .chat-content a.chat-button {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 1.5em;
  text-align: center;
  font-size: 2em;
  color: #232323;
}
.chat-wrapper .chat-content a.chat-button:hover {
  color: #3d3d3d;
}
.chat-full {
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 1.5rem;
}
.chat-full .chat-header {
  line-height: 2.5em;
}
@media only screen and (max-width: 549px) {
  .chat-full {
    display: inline-block;
  }
}
@media only screen and (min-width: 550px) and (max-width: 959px), only screen and (max-width: 549px) {
  .chat-full .user-list {
    top: 3.5rem;
  }
}
.chat-full .chat-content {
  width: 100%;
  height: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
@media only screen and (min-width: 550px) and (max-width: 959px), only screen and (max-width: 549px) {
  .chat-full .chat-content {
    padding-top: 3.5rem;
  }
}
.chat-full .chat-content .chat-overlay {
  height: 100%;
}
.chat-full .chat-content .chat-overlay a {
  line-height: 2.5em;
}
.chat-full .chat-content .messages {
  height: 100%;
  padding-bottom: 3.5rem;
}
@media only screen and (min-width: 550px) and (max-width: 959px), only screen and (max-width: 549px) {
  .chat-full .chat-content .messages {
    padding-bottom: 4.5rem;
  }
}
.chat-full .chat-content a.chat-button {
  line-height: 1.25em;
}
@media only screen and (max-width: 549px) {
  .chat-full .chat-content textarea {
    height: 3.5rem;
    min-height: 3.5rem;
    padding: 1rem;
  }
  .chat-full .chat-content a.chat-button {
    line-height: 1.75;
    height: 3.5rem;
    width: 3.5rem;
  }
}
footer {
  background: #3d3d3d;
  width: 100%;
  padding: 0 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  z-index: 100;
}
footer .footer-image {
  position: relative;
  top: 1px;
  height: 13px;
}
footer .footer-image:hover {
  height: 15px;
  top: 2px;
  margin-left: -3.5px;
  margin-right: -3.5px;
}
footer a {
  color: #fb9a9a;
  display: inline-block;
}
footer a:hover {
  color: #f5f5f5;
}
footer .right .zmdi {
  width: 16px;
}
@font-face {
  font-family: 'brandIcons';
  src: url('/resources/public/fonts/brandIcons.eot?eeffbh');
  src: url('/resources/public/fonts/brandIcons.eot?eeffbh#iefix') format('embedded-opentype'), url('/resources/public/fonts/brandIcons.ttf?eeffbh') format('truetype'), url('/resources/public/fonts/brandIcons.woff?eeffbh') format('woff'), url('/resources/public/fonts/brandIcons.svg?eeffbh#brandIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}
footer i.brandIcon,
footer span.brandIcon {
  font-family: 'brandIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: text-bottom;
}
footer .brandIcon-discord:before {
  content: "\e900";
}
@media (min-width: 960px) {
  footer {
    height: 2.5rem;
  }
  footer .left a:not(:last-of-type):after,
  footer .right a:not(:last-of-type):after {
    content: ' - ';
  }
  footer .left {
    float: left;
  }
  footer .right {
    float: right;
  }
}
@media only screen and (min-width: 550px) and (max-width: 959px), only screen and (max-width: 549px) {
  footer > span {
    display: flex;
    justify-content: space-around;
  }
  footer .right .zmdi {
    vertical-align: sub;
    font-size: 24px;
    width: 24px;
  }
  footer .right .brandIcon {
    vertical-align: middle;
    font-size: 24px;
    width: 24px;
  }
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 110;
}
.modal .right {
  float: right;
}
.modal .modal-content {
  margin: 5% auto;
  max-width: 30rem;
}
.modal .modal-content.big {
  max-width: 60rem;
}
@media only screen and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 959px) {
  .modal .modal-content {
    margin: 3.5rem 0 5rem 0;
    max-width: 100%;
  }
}
.modal .modal-content .modal-header {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 1.5em;
  background-color: #3d3d3d;
  color: #fb9a9a;
  padding: 1.5rem;
  word-wrap: break-word;
}
.modal .modal-content .modal-header textarea {
  background: #3d3d3d;
  border: 2px solid #32be37;
  color: #f5f5f5;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 1.5rem;
  width: calc(98%);
  max-width: 100%;
}
.modal .modal-content .modal-header a:hover,
.modal .modal-content .modal-header a:focus {
  color: #f96969;
  text-decoration: underline;
  cursor: pointer;
}
.modal .modal-content .modal-header .zmdi {
  margin-left: 0.5rem;
  vertical-align: middle;
  display: inline-block;
  height: 1.75rem;
}
.modal .modal-content .modal-header small {
  font-size: 1rem;
  color: #f96969;
}
.modal .modal-content .modal-header > .close {
  margin: -10px;
  padding: 10px;
  color: #f96969;
  float: right;
  font-size: 1em;
  font-weight: bold;
}
.modal .modal-content .modal-header > .close:hover,
.modal .modal-content .modal-header > .close:focus {
  color: #232323;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-content .modal-body {
  background-color: #f5f5f5;
  color: #232323;
  padding: 1.5rem;
}
.modal .modal-content .modal-body.dark {
  background: #232323;
  color: #f5f5f5;
  padding: 0;
}
.modal .modal-content .modal-body .dropzone:not(.image-button) {
  background: #f5f5f5;
  border: 3px dashed #303030;
  color: #232323;
}
.modal .modal-content .modal-body .dropzone:not(.image-button):hover {
  color: #a3a3a3;
}
.modal .modal-content .modal-body .button {
  margin-bottom: 1rem;
  display: inline-block;
  border-bottom: 1px solid #232323;
}
.modal .modal-content .modal-body .button:before {
  content: '> ';
}
.modal .modal-content .modal-body form a:not(.big-button) {
  color: #f96969;
}
.modal .modal-content .modal-body form a:not(.big-button):hover {
  color: #232323;
}
.modal .modal-content .modal-body form .input-field-wrap label {
  background: #3d3d3d;
  color: #f5f5f5;
}
.modal .modal-content .modal-body form input[type=text],
.modal .modal-content .modal-body form input[type=password],
.modal .modal-content .modal-body form input[type=email],
.modal .modal-content .modal-body form textarea {
  vertical-align: middle;
  background: #303030;
  color: #f5f5f5;
}
.modal .modal-content .modal-body form textarea {
  vertical-align: top;
}
.modal .modal-content .modal-body form button[type=submit],
.modal .modal-content .modal-body form a.submit {
  display: inline-block;
  background: transparent;
  color: #f96969;
  border: 3px solid #f96969;
}
.modal .modal-content .modal-body form button[type=submit]:hover,
.modal .modal-content .modal-body form a.submit:hover {
  background: #f96969;
  color: #232323;
}
.modal .modal-content .modal-body form button[type=submit]:disabled,
.modal .modal-content .modal-body form a.submit:disabled {
  background: transparent;
  border: 3px dashed #a9a9a9;
  color: #fb9a9a;
  opacity: 0.75;
}
.modal .modal-content .modal-body form button[type=submit]:disabled:hover,
.modal .modal-content .modal-body form a.submit:disabled:hover {
  cursor: not-allowed;
  background: transparent;
  color: #fb9a9a;
  opacity: 0.75;
}
.modal .modal-content .modal-body form .checkbox label {
  background: #303030;
}
.modal .modal-content .modal-body form .checkbox label:after {
  background: transparent;
  border: 3px solid #f5f5f5;
  border-top: none;
  border-right: none;
}
.modal .modal-content .modal-hide {
  display: block;
}
.filtersDropdown {
  vertical-align: text-top;
  height: 2rem;
  line-height: 2rem;
  width: auto;
  border-bottom: 2px solid #f96969;
  display: inline-block;
  position: relative;
}
.filtersDropdown .selection {
  cursor: pointer;
  padding: 0 0.5rem;
}
.filtersDropdown .options {
  text-align: left;
  min-width: 100%;
  width: auto;
  display: none;
  height: 0;
  list-style: none;
  background: #f5f5f5;
  position: absolute;
  z-index: 99999;
  cursor: pointer;
}
.filtersDropdown .options .option {
  padding: 0 0.5rem;
  color: #232323;
}
.filtersDropdown .options .option:hover {
  color: #3d3d3d;
  background: #f96969;
}
.filtersDropdown.multiple .option:before {
  content: '';
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border: 2px solid #f96969;
  vertical-align: text-bottom;
  margin-right: 0.5rem;
}
.filtersDropdown.multiple .option.active:before {
  border-bottom: 2px solid #fb9a9a;
  border-right: 2px solid #fb9a9a;
  border-left: 2px transparent;
  border-top: 2px transparent;
  width: 0.5rem;
  transform: rotate(45deg);
  margin-left: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 0.875rem;
}
.filtersDropdown.active .options {
  display: block;
  height: auto;
}
.inline-input {
  border: 0;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-size: 1rem;
  background: #f5f5f5;
  color: #232323;
  padding: 0 0.75rem;
  resize: none;
}
.dropzone {
  background: #232323;
  border: 3px dashed #a9a9a9;
  border-radius: 1rem;
  color: #f5f5f5;
  max-width: 27rem;
  margin: 0 auto;
}
.dropzone .dz-message {
  font-size: 1.25em;
}
.dropzone:hover {
  border-style: solid;
  color: #767676;
}
.dropzone .dz-preview.dz-image-preview {
  background: none;
}
form {
  text-align: center;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form.no-style {
  display: initial;
  text-align: initial;
  padding: initial;
}
form a {
  color: #fb9a9a;
}
form a:hover {
  color: #f5f5f5;
}
form .zmdi {
  vertical-align: middle;
  font-size: 1.5em;
}
form .input-field {
  margin-bottom: 1rem;
  display: inline-block;
  width: 100%;
  max-width: 27rem;
  text-align: left;
}
form .input-field.half {
  width: 50%;
}
form .input-field .input-label {
  font-variant: small-caps;
}
form .input-field .input-label:after {
  content: '';
  display: block;
  width: 4rem;
  background: #fb9a9a;
  height: 0.125rem;
  margin-bottom: 0.25rem;
}
form .input-field .input-label small {
  color: #a9a9a9;
}
form .input-field .input-field-wrap {
  position: relative;
}
form .input-field .input-field-wrap label {
  background: #a9a9a9;
  color: #232323;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 3rem;
}
form .input-field .input-field-wrap input[type=text],
form .input-field .input-field-wrap input[type=password],
form .input-field .input-field-wrap input[type=email],
form .input-field .input-field-wrap textarea {
  padding-left: 3.5rem;
}
form .input-field-inline {
  display: inline-block;
  margin-bottom: 1rem;
}
form .input-field-inline label {
  display: block;
  text-align: left;
  margin-bottom: 0.25rem;
}
form input[type=text],
form input[type=password],
form input[type=email],
form textarea {
  border: 0;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-size: 1em;
  background: #f5f5f5;
  color: #232323;
  padding: 0.75rem;
  resize: none;
  height: 3rem;
  vertical-align: middle;
  width: 100%;
  /*@media @desktops, @tablets {
      width: 20rem;
    }

    @media @smartphones {
      width: 100%;
    }*/
}
form textarea {
  height: 4rem;
}
@media only screen and (max-width: 549px) {
  form {
    /*label > .zmdi {
      display: none;
    }*/
  }
}
form .submit {
  text-align: center;
}
form button[type=submit],
form a.submit {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  padding: 0.25rem;
  background: transparent;
  box-sizing: border-box;
  color: #fb9a9a;
  border: 3px solid #fb9a9a;
  font-size: 1.25em;
  line-height: 1.75em;
  width: 10rem;
  height: 3rem;
  vertical-align: middle;
}
form button[type=submit]:hover,
form a.submit:hover {
  cursor: pointer;
  background: #fb9a9a;
  color: #232323;
}
form button[type=submit]:disabled,
form a.submit:disabled {
  background: transparent;
  border: 3px dashed #232323;
  color: #fb9a9a;
  opacity: 0.75;
}
form button[type=submit]:disabled:hover,
form a.submit:disabled:hover {
  cursor: not-allowed;
  background: transparent;
  color: #fb9a9a;
  opacity: 0.75;
}
form .checkbox {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
  text-align: left;
}
form .checkbox + span {
  vertical-align: middle;
}
form .checkbox label {
  cursor: pointer;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.75rem;
  top: 0;
  background: #f5f5f5;
}
form .checkbox label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 0.8rem;
  height: 0.4rem;
  background: transparent;
  top: 0.3rem;
  left: 0.25rem;
  border: 3px solid #303030;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
form .checkbox label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
form .checkbox input[type=checkbox] {
  display: none;
}
form .checkbox input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.g-recaptcha {
  max-width: 304px;
  margin: 0 auto;
}
.markdown {
  padding: 1rem;
}
.markdown h1 {
  font-size: 1.5em;
  font-weight: normal;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  color: #f96969;
  margin-bottom: 1rem;
}
.markdown strong {
  font-size: 1.25em;
  font-weight: normal;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  color: #f96969;
  margin-left: -0.5rem;
}
.markdown p,
.markdown ul {
  line-height: 1.25em;
  font-size: 0.85em;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}
.markdown p li,
.markdown ul li {
  margin-left: 1.5rem;
}
.material-switch {
  display: inline-block;
  margin: 1rem 0.75rem;
  vertical-align: middle;
  width: 35px;
  position: relative;
}
.material-switch > input[type="checkbox"] {
  display: none;
}
.material-switch > input[type="checkbox"]:checked + label {
  background: #fb9a9a;
}
.material-switch > input[type="checkbox"]:checked + label:before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label:after {
  background: inherit;
  left: 20px;
}
.material-switch > label {
  cursor: pointer;
  height: 0;
  width: 40px;
}
.material-switch > label:before {
  background: #000000;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label:after {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.block.bio-wrapper {
  display: flex;
  flex-direction: column;
}
.block.bio-wrapper .bio {
  align-self: center;
  display: flex;
  align-items: center;
}
.block.bio-wrapper .bio .zmdi {
  font-size: 1.5em;
  color: #fb9a9a;
}
.block.bio-wrapper .bio span,
.block.bio-wrapper .bio p {
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 1.125em;
  color: #fb9a9a;
  display: inline-block;
}
.block.bio-wrapper .bio textarea {
  background: #3d3d3d;
  border: 2px solid #32be37;
  color: #f5f5f5;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-size: 1.125rem;
  width: 100%;
  max-width: 100%;
}
.charMax {
  color: #a9a9a9;
  min-width: 2rem;
  display: inline-block;
  text-align: left;
  vertical-align: bottom;
  font-size: 0.9em;
}
.charMaxArea {
  font-size: 0.9em;
  color: #a9a9a9;
  float: right;
  display: block;
  margin-top: -1.5rem;
  margin-right: 0.5rem;
  position: relative;
  height: 0.5rem;
}
.charMaxError {
  outline: none;
  color: #be3237 !important;
}
.charMaxError:focus {
  outline: none;
  color: #be3237 !important;
}
.fixed-arrow {
  opacity: 0.5;
  position: fixed;
  top: 50%;
}
.fixed-arrow.fixed-arrow-left {
  left: 0;
}
@media only screen and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 959px) {
  .fixed-arrow.fixed-arrow-left {
    margin-left: -4rem;
  }
}
.fixed-arrow.fixed-arrow-left .zmdi {
  border-radius: 0 0.25em 0.25em 0;
}
.fixed-arrow.fixed-arrow-right {
  right: 0;
}
@media only screen and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 959px) {
  .fixed-arrow.fixed-arrow-right {
    margin-right: -4rem;
  }
}
.fixed-arrow.fixed-arrow-right .zmdi {
  border-radius: 0.25em 0 0 0.25em;
}
.fixed-arrow .zmdi {
  margin-top: -0.5em;
  font-size: 4em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: block;
  background: rgba(0, 0, 0, 0.5);
}
.profileCard {
  width: 33.333%;
  padding: 0.5rem 0.25rem 0;
}
.profileCard a {
  background-color: #3d3d3d;
  padding: 1rem;
  display: flex;
  text-align: left;
  align-items: center;
}
.profileCard a:hover {
  background: #fb9a9a;
}
.profileCard a:hover span {
  color: #232323;
}
.profileCard.gridProfile {
  float: left;
}
.profileCard .avatar {
  display: inline-block;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background: #f5f5f5;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.profileCard div {
  margin-left: 1rem;
}
.profileCard span {
  display: block;
}
.profileCard span.title {
  font-size: 1.5em;
  color: #fb9a9a;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
}
@media only screen and (min-width: 550px) and (max-width: 959px) {
  .profileCard {
    width: 50%;
  }
}
@media only screen and (max-width: 549px) {
  .profileCard {
    width: 100%;
  }
}
.profileCard .floating {
  width: 15rem;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media only screen and (max-width: 549px) {
  .mobile-hide {
    display: none;
  }
}
@media (min-width: 960px), only screen and (min-width: 550px) and (max-width: 959px) {
  .mobile-only {
    display: none;
  }
}
@media (min-width: 960px) {
  .desktop-hide {
    display: none;
  }
}
.badge {
  font-size: 1rem;
  vertical-align: middle;
  border-radius: 1.5rem;
  background: #fb9a9a;
  margin-left: 1rem;
  display: inline-block;
  height: 1.5rem;
  min-width: 1.5rem;
  line-height: 1rem;
  text-align: center;
  padding: 0.25rem 0.5rem;
}
.badge.no-bg {
  background: none;
}
.badge .zmdi {
  margin: 0 -0.5rem;
}
@media (min-width: 960px) {
  .badge .zmdi {
    line-height: 1rem;
  }
}
@media only screen and (min-width: 550px) and (max-width: 959px), only screen and (max-width: 549px) {
  .badge {
    font-size: 1.5rem;
    height: 2rem;
    min-width: 2rem;
    line-height: 1.5rem;
  }
}
.badge:hover {
  background: #f96969;
}
.badge:empty {
  display: none;
}
.ui-pnotify-modal-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
body > .ui-pnotify-modal-overlay {
  position: fixed;
  z-index: 100039;
}
.ui-pnotify-container {
  background-position: 0 0;
  height: 100%;
  margin: 0;
  padding: .8em;
}
.ui-pnotify-container:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
}
.ui-pnotify-container .ui-pnotify-sharp {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.ui-pnotify-title {
  display: block;
  margin-bottom: .4em;
  margin-top: 0;
}
.ui-pnotify-title .avatar {
  float: left;
  height: 3.5rem;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 0.5rem;
}
.ui-pnotify-text {
  display: block;
}
.ui-pnotify-icon {
  display: block;
  float: left;
  margin-right: .2em;
}
.ui-pnotify-icon span {
  display: block;
  float: left;
  margin-right: .2em;
}
.ui-pnotify {
  height: auto;
  position: absolute;
  right: 36px;
  top: 36px;
  z-index: 2;
  background: #3d3d3d;
}
.ui-pnotify .ui-pnotify-closer {
  float: right;
  position: relative;
  width: 16px;
  height: 16px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 50%;
}
.ui-pnotify .ui-pnotify-closer:after {
  top: -4px;
  content: "\002715";
}
.ui-pnotify .ui-pnotify-shadow {
  -moz-box-shadow: 0 6px 28px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 6px 28px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 28px 0 rgba(0, 0, 0, 0.5);
}
.ui-pnotify.ui-pnotify-in {
  display: block !important;
}
.ui-pnotify.ui-pnotify-move {
  transition: left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
}
.ui-pnotify.ui-pnotify-fade-slow {
  opacity: 0;
  transition: opacity .6s linear;
}
.ui-pnotify.ui-pnotify-fade-slow.ui-pnotify.ui-pnotify-move {
  transition: opacity .6s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
}
.ui-pnotify.ui-pnotify-fade-normal {
  opacity: 0;
  transition: opacity .4s linear;
}
.ui-pnotify.ui-pnotify-fade-normal.ui-pnotify-move {
  transition: opacity .4s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
}
.ui-pnotify.ui-pnotify-fade-fast {
  opacity: 0;
  transition: opacity .2s linear;
}
.ui-pnotify.ui-pnotify-fade-fast.ui-pnotify-move {
  transition: opacity .2s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
}
.ui-pnotify.ui-pnotify-fade-in {
  opacity: 1;
}
.ui-pnotify.stack-bottomleft {
  bottom: 25px;
  left: 25px;
  right: auto;
  top: auto;
}
.ui-pnotify.stack-topleft {
  left: 25px;
  right: auto;
}
.ui-pnotify.stack-bottomright {
  bottom: 25px;
  top: auto;
}
.ui-pnotify.stack-modal {
  left: 50%;
  margin-left: -150px;
  right: auto;
}
.ui-pnotify .ui-pnotify-action-bar {
  display: flex;
}
.ui-pnotify .ui-pnotify-action-button {
  background: transparent;
  color: #f5f5f5;
  border: 0;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
}
.ui-pnotify .ui-pnotify-action-button:hover {
  background: #fb9a9a;
  color: #3d3d3d;
  cursor: pointer;
}
.ui-pnotify .brighttheme-success .ui-pnotify-title {
  color: #32be37;
}
.ui-pnotify .brighttheme-error .ui-pnotify-title {
  color: #be3237;
}
.ui-pnotify .brighttheme-info {
  background: #f5f5f5;
  color: #232323;
}
.ui-pnotify .brighttheme-info .ui-pnotify-title {
  font-weight: normal;
}
.ui-pnotify .brighttheme-info .ui-pnotify-text {
  font-size: 0.8rem;
}
.ui-pnotify .brighttheme-info .ui-pnotify-action-button {
  width: 100%;
  color: #fb9a9a;
}
.ui-pnotify .brighttheme-info .ui-pnotify-action-button:hover {
  color: #3d3d3d;
}
body > .ui-pnotify {
  position: fixed;
  z-index: 100040;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
body.modal-open {
  position: absolute;
}
body.modal-open nav {
  z-index: 999;
}
.skeleton.modal-header .title {
  height: 1.75rem;
  background: #303030;
  width: 50%;
}
.skeleton.modal-body .elements > div {
  height: 32rem;
  background: url('/resources/public/assets/placeholder.png') center center no-repeat;
}
.skeleton.modal-body .description > div {
  height: 1.75rem;
  background: #303030;
  width: 75%;
}
.skeleton.modal-body .publication > div {
  height: 1.75rem;
  background: #303030;
  width: 24rem;
}
.skeleton.modal-body .votes-block > div {
  min-width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  margin-right: 0;
  display: inline-block;
  text-decoration: none;
  float: left;
}
.skeleton.modal-body .votes-block > div.upvotes {
  background: #32be37;
  color: #1e8223;
}
.skeleton.modal-body .votes-block > div.downvotes {
  background: #be3237;
  color: #821e23;
  margin-left: 0.5rem;
}
.skeleton.modal-body .votes-block > div.more {
  background: #3d3d3d;
  color: #f96969;
  margin-left: 0.5rem;
}
.skeleton.modal-body .comment .content > div {
  height: 1.75rem;
  background: #232323;
  width: 100%;
}
.skeleton.modal-body .comment .commentText {
  height: 1.75rem;
  background: #232323;
  width: 100%;
}
.skeleton.modal-body .comment .commentText.small {
  margin-top: -0.125rem;
  height: 1.75rem;
  background: #232323;
  width: 75%;
}
.skeleton .animate {
  position: relative;
  overflow: hidden;
}
@keyframes shine {
  0% {
    left: -24rem;
  }
  100% {
    left: calc(124%);
  }
}
.skeleton .animate:after {
  content: "";
  position: absolute;
  width: 16rem;
  height: 16rem;
  top: -4rem;
  left: -300%;
  transform: rotate(-15deg);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 50%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.025;
  animation: shine 5s infinite;
}
