@import "colors";

@title-font: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
@main-font: 'Roboto', 'Arial', 'Helvetica', sans-serif;

@smartphones: ~"only screen and (max-width: 549px)";
@tablets: ~"only screen and (min-width: 550px) and (max-width: 959px)";
@laptops: ~"only screen and (min-width: 960px) and (max-width: 1439px)";
@desktops: ~"(min-width: 960px)";
@full-desktops: ~"(min-width: 1440px)";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

.text-center {
  text-align: center;
}

hr {
  border: 1px solid @main-color-light;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

body {
  color: @text-color;
  background: @main-color;
  font-size: 1em;
  font-family: @main-font;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
  height: 100vh;
  transition: .5s;
  position: absolute;

  &.modal-open {
    position: absolute;
    overflow: hidden;
  }
}

nav {
  background: @main-color-light;
  position: fixed;
  top: 0;
  z-index: 70;
  width: 100%;
  height: 2.5rem;
  padding: 0 1.5rem;
  box-shadow: 0 0 0.5rem @overlay-color;

  @media @smartphones, @tablets {
    padding: 0 0.5rem;
    height: 3.5rem;

    & > .input {
      display: none;
    }
  }

  @media @desktops {
    & > .input {
      margin-left: 0.5rem;
      display: inline-block;
      vertical-align: middle;

      span {
        vertical-align: middle;
      }
    }
  }

  @media @smartphones {
    padding-right: 0;
  }

  a.title {
    display: inline-block;
    color: @text-color;
    font-size: 2em;
    font-family: @title-font;
    text-decoration: none;
    vertical-align: middle;

    @media @smartphones, @tablets {
      font-size: 2.75rem;
    }

    &:hover {
      color: @accent-color;
    }

    small {
      color: @accent-color-dark;
      font-size: 0.5em;
      font-variant: small-caps;
    }
  }

  .menu-avatar {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    vertical-align: middle;
    background: @text-color;
    border: 1px solid @clear-color;
    margin-left: 0.25rem;
    margin-right: 1rem;
  }

  ul {
    &.menu {
      @media @desktops {
        list-style: none url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
        float: right;

        li {
          float: left;
          margin-left: 0.5rem;

          .input {
            display: none;
          }

          a, label {
            display: inline-block;
            color: @text-color;
            padding: 0.5rem;
            height: 2.5rem;
            line-height: 1.5rem;
            text-decoration: none;
            cursor: pointer;

            input {
              position: absolute;
              left: -99999999999px;
            }

            &.active {
              background: @accent-color;
              color: @main-color-light;

              &:hover {
                background: @accent-color-dark;
                color: @main-color-dark;
              }
            }

            &:hover {
              background: @accent-color;
              color: @main-color-light;
            }

            .zmdi {
              vertical-align: bottom;
              margin-right: 0.5rem;
              font-size: 1.5rem;
            }
          }
        }

        .mobile-hide {
          display: none;
        }
      }

      @media @smartphones {
        top: 3.5rem;
        left: 0;
        width: 100%;
        height: 100vh;
      }

      @media @tablets {
        top: 3.5rem;
        right: 0;
        width: 50%;
        height: auto;
      }

      @media @smartphones, @tablets {
        list-style: none url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
        background: @text-color;
        position: fixed;
        display: none;
        overflow: hidden;

        li {
          .input {
            padding: 0.75rem;
            margin: 0;
            float: right;

            span {
              color: @main-color;
            }
          }

          a {
            display: block;
            color: @main-color;
            padding: 1rem 1.5rem;
            height: 3.5rem;
            line-height: 1.5rem;
            text-decoration: none;

            &:hover {
              background: @accent-color-dark;
              color: @main-color;
            }

            .zmdi {
              vertical-align: bottom;
              margin-right: 0.75rem;
              font-size: 1.5rem;
            }
          }
        }
      }
    }

    &.notificationsMenu {
      list-style: none url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
      background: @accent-color;
      position: fixed;
      display: none;
      overflow-x: hidden;
      overflow-y: auto;

      .timestamp {
        display: block;
      }

      li {
        display: block;
        position: relative;

        &.seen {
          background: @text-color;
        }

        &.more {
          background: @text-color;
          display: flex;

          a {
            display: inline-block;
            width: 50%;
            text-align: center;
          }
        }

        .avatar {
          position: relative;

          img {
            margin-right: 1rem;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background: @text-color;
            border: 2px solid @overlay-color;
          }

          .zmdi {
            background: @text-color;
            border: 1px solid @overlay-color;
            border-radius: 50%;
            position: absolute;
            bottom: 0.25rem;
            right: 0;
            padding: 0.25rem;
            width: 26px;
            height: 26px;
            text-align: center;

            &.icon {
              padding: 1rem;
              position: static;
              font-size: 2rem;
            }
          }
        }

        a {
          display: flex;
          flex: 1;
          flex-direction: row;
          align-items: center;
          color: @main-color;
          padding: 1rem 1.5rem;
          min-height: 3.5rem;
          line-height: 1.5rem;
          text-decoration: none;

          &:hover {
            background: @accent-color-dark;
            color: @main-color;
          }

          .zmdi {
            margin-right: 0.75rem;
          }
        }

        .markRead {
          visibility: hidden;
          position: absolute;
          top: 0;
          right: 0;
          padding: 0.25rem;
          height: 100%;

          .zmdi {
            margin: 0;
            font-size: 1.5rem;
          }

          @media @smartphones {
            visibility: visible;
          }
        }

        &:hover {
          .markRead {
            visibility: visible;
          }
        }
      }

      @media @desktops {
        top: 2.5rem;
        left: 0;
        width: 33%;
        height: auto;
        max-height: ~"calc(100vh - 2.5rem)";
      }

      @media @tablets {
        top: 3.5rem;
        left: 0;
        width: 66%;
        height: auto;
        max-height: ~"calc(100vh - 3.5rem)";
      }

      @media @smartphones {
        top: 3.5rem;
        left: 0;
        width: 100%;
        height: auto;
        max-height: ~"calc(100vh - 3.5rem)";
      }
    }
  }

  .mobile-button {
    @media @desktops {
      display: none;
    }

    @media @smartphones, @tablets {
      display: inline-block;
      float: right;
      color: @text-color;
      font-family: @title-font;
      text-decoration: none;
      padding: 0 1rem;
      height: 3.5rem;

      .zmdi {
        font-size: 2rem;
        line-height: 1.75em;
      }

      &:hover {
        background: @accent-color;
      }
    }
  }
}

main {
  flex: 1 100%;
  margin-bottom: 2.5rem;

  &.sidebarOpen {
    width: 75%;
  }

  .innerContent {
    margin-left: auto;
    margin-right: auto;

    @media @desktops {
      width: 1440px;

      .grid[data-columns]:before {
        content: '8 .grid-item';
      }

      .grid-item {
        width: 12.5%;
      }
    }

    @media @laptops {
      width: 950px;

      .grid[data-columns]:before {
        content: '5 .grid-item';
      }

      .grid-item {
        width: 20%;
      }
    }

    @media @tablets {
      width: 100%;

      .grid {
        width: 525px;
        margin: 0 auto;
      }

      .grid[data-columns]:before {
        content: '3 .grid-item';
      }

      .grid-item {
        width: 33.333%;
      }
    }

    @media @smartphones {
      width: 100%;

      .grid[data-columns]:before {
        content: '2 .grid-item';
      }

      .grid-item {
        width: 50%;
      }
    }
  }

  @media @desktops {
    margin-top: 2.5rem;
  }

  @media @tablets, @smartphones {
    margin-top: 3.5rem;
    margin-bottom: 5rem;
  }

  .alert {
    background: @downvotes-color;
    padding: 0.25rem 0.5rem;
    color: @main-color-dark;
    border-radius: 0.5rem;
    margin-right: 0.25rem;

    &:empty {
      display: none;
    }
  }

  .title-block {
    border-radius: 0;

    &.alert {
      text-align: center;
      width: 100%;
      display: block;
      background: @downvotes-color;
      color: @main-color-dark;
      padding: 1rem;
    }

    &.resolve {
      text-align: center;
      width: 100%;
      display: block;
      background: @upvotes-color;
      color: @main-color-dark;
      padding: 1rem;
    }

    &:empty {
      display: none;
    }
  }

  .notificationsList {
    list-style: none url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    background: @main-color-light;
    margin-top: 0.25rem;

    .timestamp {
      display: block;
    }

    li {
      display: block;
      position: relative;

      &.seen {
        background: @main-color-dark;
      }

      .avatar {
        position: relative;

        img {
          margin-right: 1rem;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          background: @text-color;
          border: 2px solid @overlay-color;
        }

        .zmdi {
          background: @text-color;
          border: 1px solid @overlay-color;
          border-radius: 50%;
          position: absolute;
          bottom: 0.25rem;
          right: 0;
          padding: 0.25rem;
          width: 26px;
          height: 26px;
          text-align: center;

          &.icon {
            padding: 1rem;
            position: static;
            font-size: 2rem;
          }
        }
      }

      a {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        color: @text-color;
        padding: 1rem 1.5rem;
        min-height: 3.5rem;
        line-height: 1.5rem;
        text-decoration: none;

        &:hover {
          background: @accent-color-dark;
          color: @main-color;
        }

        .zmdi {
          color: @main-color;
          margin-right: 0.75rem;
        }
      }

      .markRead {
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.25rem;
        height: 100%;

        .zmdi {
          font-size: 1.5rem;
          margin: 0;

          @media @smartphones {
            color: @text-color;
          }
        }

        @media @smartphones {
          visibility: visible;
        }
      }

      &:hover {
        .markRead {
          visibility: visible;
        }
      }
    }
  }

  .image-block {
    width: 60rem;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;

    .details {
      background: @main-color-light;
      line-height: 2em;
      padding: 1.5rem;
      color: @accent-color;

      .image-title {
        font-family: @title-font;
        font-size: 1.5em;
        word-wrap: break-word;

        textarea {
          background: @main-color-light;
          border: 2px solid @upvotes-color;
          color: @text-color;
          font-family: @title-font;
          font-size: 1.5rem;
          width: 100%;
          max-width: 100%;
        }
      }

      small {
        font-size: 1rem;
        color: @accent-color-dark;
        font-family: @title-font;
      }

      textarea {
        font-size: 1.25em;
      }

      a:hover, a:focus {
        color: @accent-color-dark;
        text-decoration: underline;
        cursor: pointer;
      }

      .zmdi {
        margin-left: 0.5rem;
        vertical-align: middle;
        display: inline-block;
        height: 1.75rem;
      }
    }

    .elements > :not(:last-child) {
      display: block;
      border-bottom: 0.25rem solid @main-color-light;
    }

    .elements {
      background: @main-color-dark;

      & > div {
        text-align: center;
      }

      img, video {
        max-height: 100%;
        width: auto;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
      }
    }

    .showElements {
      padding: 1rem;
      display: block;
      text-align: center;
      background: @main-color-dark;
      border-top: 0.25rem solid @main-color-light;

      &:hover {
        background: @accent-color-dark;
        color: @main-color;
      }
    }

    .description {
      background: @main-color-light;
      padding: 1.5rem;
      word-wrap: break-word;

      p, span {
        white-space: pre-wrap;
        display: inline-block;
      }

      textarea {
        background: @main-color-light;
        border: 2px solid @upvotes-color;
        color: @text-color;
        font-family: @main-font;
        font-size: 1rem;
        width: 100%;
        max-width: 100%;
      }

      .inline-icon {
        vertical-align: middle;
      }

      a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: @accent-color-dark;

        &:hover {
          color: @accent-color;
        }
      }

      & > .charMax {
        color: @text-color-dark;
        vertical-align: middle;
      }

      .zmdi {
        margin-left: 0.5rem;
        vertical-align: middle;
        display: inline-block;
        height: 1.75rem;
        font-size: 1.5em;
      }
    }

    .middle-block {
      background: @main-color-light;
      width: 100%;
    }

    .publication {
      padding: 1rem 1.5rem;
      display: inline-block;
      line-height: 1.5rem;
      color: @text-color-dark;

      .section {
        display: inline-block;
      }
      
      img {
        height: 1.5rem;
        vertical-align: middle;
        border-radius: 50%;
        background: @text-color;
        border: 1px solid @clear-color;
      }

      .tag {
        background: @downvotes-color;
        padding: 0.25rem 0.5rem;
        color: @main-color-dark;
        border-radius: 0.5rem;
        margin-right: 0.25rem;

        .zmdi {
          font-size: 1em;
        }
      }

      a {
        color: @accent-color-dark;

        &:hover {
          color: @accent-color;
        }
      }

      @media @desktops, @tablets {
        height: 3.5rem;
      }
    }
  }

  .votes-block {
    height: 3.5rem;
    background: @main-color;
    font-family: @title-font;
    font-size: 1.25em;
    text-align: center;
    display: block;
    line-height: 1.5rem;
    min-width: 7.75rem;
    float: right;
    padding: 0.5rem 0 0 0.5rem;

    a {
      min-width: 3rem;
      height: 3rem;
      padding: 0.75rem;
      margin-right: 0;
      display: inline-block;
      text-decoration: none;
      float: left;

      &.upvotes {
        background: @upvotes-color;
        color: @upvotes-text;

        &:hover, &.voted {
          background: @upvotes-text;
          color: @text-color;
        }

        &.voted:hover {
          background: darken(@upvotes-text, 10%);
        }
      }

      &.downvotes {
        background: @downvotes-color;
        color: @downvotes-text;
        margin-left: 0.5rem;

        &:hover, &.voted {
          background: @downvotes-text;
          color: @text-color;
        }

        &.voted:hover {
          background: darken(@downvotes-text, 10%);
        }
      }

      &.more {
        background: @main-color-light;
        color: @accent-color-dark;
        margin-left: 0.5rem;

        &:hover, &.voted {
          background: @main-color-dark;
          color: @text-color;
        }

        &.voted:hover {
          background: @main-color, 10%;
        }
      }
    }

    .morePopupContainer {
      position: relative;

      .morePopup {
        position: absolute;
        bottom: 0;
        width: 10rem;
        height: auto;
        z-index: 8;

        li {
          background: @text-color;
          list-style: none;
          width: 10rem;
          height: 3rem;

          a {
            height: 100%;
            width: 100%;
            text-align: left;
            color: @main-color;

            &:hover {
              background: @text-color-dark;
            }

            .zmdi {
              vertical-align: middle;
            }

            span {
              font-size: 1rem;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  .comments {
    margin: 0.5rem 0;
    width: 100%;
    background: @main-color-light;

    .commentForm {
      display: flex;
      width: 100%;

      & > form {
        width: 100%;
        padding: 0;

        @media @smartphones {
          border-top: 0.5rem solid @main-color;
        }
      }

      #commentImage img {
        max-height: 100%;
        width: auto;
        max-width: 100%;
        height: auto;
        display: block;
      }
    }

    .block-button {
      background: @main-color-light;
      color: @text-color-dark;
      width: 100%;
      text-align: center;
      display: block;
      line-height: 2em;
      height: 3rem;
      font-size: 1.25em;
      padding: 0.25rem;

      &:not(div):hover {
        background: @accent-color-dark;
        color: @main-color;
      }

      .zmdi {
        vertical-align: text-bottom;
      }
    }

    .big-button {
      background: @upvotes-color;
      color: @main-color;
      width: 40%;
      text-align: center;
      display: block;
      line-height: 2em;
      height: 3rem;
      font-size: 1.25em;
      padding: 0.25rem;
      float: left;

      &.cancel {
        background: @downvotes-color;
      }

      &.image-button {
        background: @main-color-light;
        color: @accent-color;
        width: 20%;
        border: 0;
        border-radius: 0;
        min-height: 0;

        .dz-default {
          margin: 0;
          font-size: 1em;
        }

        .zmdi {
          margin-right: 0;
        }
      }

      &:hover {
        background: @main-color;
        color: @text-color;
      }
    }

    form textarea {
      vertical-align: middle;
      background: @main-color-dark;
      color: @text-color;
      width: 100%;
    }

    .showComments {
      padding: 1rem;
      display: block;
      text-align: center;
      background: @main-color-dark;
      border-top: 0.5rem solid @main-color-light;

      &:hover {
        background: @accent-color-dark;
        color: @main-color;
      }
    }

    .comment {
      position: relative;
      background: @main-color-dark;
      color: @text-color-dark;
      padding: 1.5rem;
      display: flex;

      .comment-votes {
        width: 4rem;
        display: flex;
        flex-direction: column;

        a {
          display: flex;
          flex-direction: column;
          text-align: center;

          .zmdi {
            margin: 0;
          }
        }

        .upvotes {
          color: @upvotes-color;

          &.voted {
            color: @accent-color;
          }
        }

        .downvotes {
          color: @downvotes-color;

          &.voted {
            color: @accent-color;
          }
        }
      }

      .comment-content {
        width: 100%;
      }

      &.highlight {
        border: solid 2px @upvotes-color;
      }

      .avatar {
        margin-right: 0.5rem;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background: @text-color;
        border: 2px solid @clear-color;

        @media @smartphones {
          width: 32px;
          height: 32px;
        }
      }

      .morePopupContainer {
        background: @main-color-light;

        .morePopup {
          list-style: none;
          float: left;
          padding: 0.5rem;

          li {
            float: left;
          }
        }
      }

      .zmdi {
        margin-left: 0.5rem;
        vertical-align: middle;
        display: inline-block;
        height: 1.75rem;
        font-size: 1.5rem;
      }

      .content {
        font-size: 0.9em;

        .author {
          font-size: 1.1em;
        }
      }

      .commentImage {
        margin-top: 0.5rem;
        width: 100%;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      span.commentText, .commentText span {
        color: @text-color;
        display: inline-block;
        margin-top: 0.5rem;
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-all;
      }

      textarea {
        background: @main-color-light;
        border: 2px solid @upvotes-color;
        color: @text-color;
        font-family: @main-font;
        font-size: 1rem;
        width: 100%;
        max-width: 100%;
      }

      .charMax {
        color: @text-color-dark;
        vertical-align: middle;
      }

      & + .comment {
        margin-top: 0.5rem;
      }

      a {
        color: @accent-color-dark;

        &:hover {
          color: @accent-color;
        }
      }

      & .inline-input + a {
        top: 1rem;
        right: 1rem;
        position: absolute;
      }
    }
  }

  .inside-item {
    float: left;
    width: 12.5%;
    display: block;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.5s linear;

    @media @laptops {
      width: 20%;
    }

    @media @tablets {
      width: 33.33333%;
    }

    @media @smartphones {
      width: 50%;
    }

    .image {
      display: block;
      padding: 0.25rem;

      * {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }

      .image-wrap {
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          display: block;
          margin: 0;
          transform: scale(1.05);
        }

        &.mature {
          display: flex;
          position: relative;

          canvas {
            position: absolute;
            left: 0;
          }

          img {
            -webkit-filter: blur(10px);
            -ms-filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
            filter: blur(10px);
          }

          &:before {
            content: '';
            z-index: 9;
            height: 100%;
            width: 100%;
            position: absolute;
            background: @overlay-color;
          }

          &:after {
            content: 'NSFW';
            z-index: 9;
            flex: 1;
            align-self: center;
            position: absolute;
            left: 0;
            color: @clear-color;
            text-align: center;
            font-size: 2.5rem;
            font-family: @title-font;
            padding: 0;
            width: 100%;
            height: 50%;
            line-height: 0;
            bottom: 0;
          }
        }

        &.removed {
          display: flex;
          position: relative;

          canvas {
            position: absolute;
            left: 0;
          }

          img {
            -webkit-filter: blur(10px);
            -ms-filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
            filter: blur(10px);
          }

          &:before {
            content: '';
            z-index: 9;
            height: 100%;
            width: 100%;
            position: absolute;
            background: @downvotes-color;
            opacity: 0.5;
          }

          &:after {
            content: '×';
            z-index: 9;
            flex: 1;
            align-self: center;
            position: absolute;
            left: 0;
            color: @overlay-color;
            text-align: center;
            font-size: 15rem;
            font-family: @title-font;
            padding: 0;
            width: 100%;
            height: 50%;
            line-height: 0;
            bottom: 0;
          }
        }
      }
    }

    .image-type {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0.5rem;
      height: 1.75rem;
      width: 1.75rem;
      z-index: 15;
      font-size: 1.5rem;
      color: @text-color;
      background: @main-color;
      text-align: center;
      line-height: 1.75rem;
      border-radius: 0.25rem;
    }

    .image-hover {
      display: block;
      width: 100%;
      margin-top: -0.5rem;
      padding: 0.25rem;

      .image-title {
        display: block;
        background: @main-color-light;
        color: @accent-color;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        line-height: 1.5rem;
        overflow: hidden;
        word-wrap: break-word;
      }
    }

    &:hover {
      .mature:before, .mature:after/*, .removed:before, .removed:after*/ {
        display: none !important;
      }

      .image-wrap:not(.removed) canvas {
        display: none !important;
      }

      .image-wrap:not(.removed) img {
        transform: scale(1.0) !important;
        -webkit-filter: none !important;
        filter: none !important;
      }

      .image-title {
        background-color: @main-color-dark;
      }
    }
  }

  .uploadIconDelete {
    display: none;
  }

  .tabSelector {
    list-style: none;
    display: flex;
    flex: 1 0;
    width: 100%;

    li {
      width: 100%;
      background: @main-color-dark;

      &.selected {
        background: @main-color-light;
      }

      a {
        display: block;
        float: left;
        width: 100%;
        text-align: center;
        padding: 1rem;
        font-size: 1.25rem;
      }
    }
  }

  .tabs {
    list-style: none;

    li:not(.selected) {
      display: none;
    }
  }

  .panel {
    background: @main-color-light;

    a {
      color: @accent-color-dark;

      &:hover {
        color: @accent-color;
      }
    }

    .panel-heading {
      padding: 1.5rem 1rem 1rem;
      height: 4.5rem;

      .title {
        padding-left: 1rem;
        font-size: 1.5rem;
        font-family: @title-font;
        color: @accent-color-dark;

        .right {
          padding-right: 1rem;
          float: right;
          color: @accent-color;
        }

        &:after {
          content: '';
          width: 100%;
          display: block;
          border-top: 2px solid @main-color;
          margin-top: 1rem;
        }
      }
    }

    .panel-body {
      padding: 1rem;

      &.panel-wrap {
        @media @desktops, @tablets {
          display: flex;

          .col-half {
            width: 50%;
          }

          .col-third {
            width: 33.3333%;
          }

          .col-quarter {
            width: 25%;
          }

          .col-fifth {
            width: 20%;
          }
        }

        @media @desktops, @tablets {
          .col-half, .col-third, .col-quarter, .col-fifth {
            &:not(:last-of-type) {
              border-right: 2px solid @main-color;
            }
          }
        }

        @media @smartphones {
          .col-half, .col-third, .col-quarter, .col-fifth {
            &:not(:last-of-type) {
              border-bottom: 2px solid @main-color;
              margin-bottom: 1.5rem;
            }
          }
        }
      }

      .separator {
        text-align: center;

        &:after {
          content: '';
          width: 100%;
          display: block;
          border-top: 2px solid @main-color;
          margin-top: 1rem;
        }
      }

      .lead {
        text-align: center;
        font-size: 1.25em;
        color: @accent-color;
        margin: 0.5rem 1rem;
      }

      .list {
        margin: 2rem 2rem 2rem 3rem;

        li {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .block {
    background: @main-color-light;
    padding: 2rem;

    hr {
      border: 1px solid @main-color;
      margin-bottom: 1rem;
      margin-left: -2rem;
      margin-right: -2rem;
    }

    .title {
      font-family: @title-font;
      color: @accent-color-dark;
      font-size: 1.5em;

      .zmdi {
        color: @accent-color;
      }
    }

    .confirmation {
      padding: 1rem;

      ol {
        padding-left: 1rem;

        li {
          margin-bottom: 1rem;
        }
      }

      & > p {
        font-size: 1.125em;
        color: @text-color;
      }

      a {
        color: @accent-color-dark;

        &:hover {
          color: @accent-color;
        }
      }
    }

    .col {
      @media @desktops {
        width: 50%;
        float: left;
      }

      dt {
        font-size: 0.8em;
      }

      dd {
        margin-bottom: 1rem;

        &.big {
          font-size: 1.5em;
        }

        .button {
          background: transparent;
          color: @accent-color;
          font-size: 0.8em;
          padding: 0.25rem 0.75rem;
          margin-left: 2rem;
          position: relative;
          top: -0.5rem;

          &:hover {
            background: @accent-color;
            color: @main-color;
          }
        }

        .zmdi {
          vertical-align: middle;
        }
      }
    }

    .left {
      float: left;
    }

    .center {
      text-align: center;
      margin-bottom: 1rem;
    }

    .right {
      float: right;
    }

    .bottom {
      float: none;
      clear: both;
    }

    pre {
      margin-top: 1rem;
      width: 100%;
    }
  }
}

.block.cover {
  text-align: center;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;

  & > h1 {
    color: @accent-color;
    text-shadow: @main-color 2px 2px;

    textarea {
      background: @main-color;
      border: 2px solid @upvotes-color;
      color: @accent-color;
      font-family: @main-font;
      font-weight: bold;
      font-size: 2rem;
      width: auto;
      max-height: 2.75rem;
      vertical-align: middle;
    }

    .inline-icon {
      vertical-align: middle;
    }
  }

  .topRightButtons {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5em;
  }

  .avatarContainer {
    position: relative;
    height: 250px;
    width: 250px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    background: @text-color;
    border: 2px solid @clear-color;

    .avatar, .avatar img {
      height: 250px;
      width: 250px;
    }

    .cornerEdit {
      &.dropzone {
        background: @overlay-color;
        border: 0;
        border-radius: 0;
        min-height: initial;
        padding: 0.5rem;
        width: 100%;
        display: block;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        &:hover {
          color: inherit;
        }

        & > div {
          margin: 0;
        }
      }
    }
  }

  @media @tablets {
    .avatarContainer {
      height: 200px;
      width: 200px;

      .avatar, .avatar img {
        height: 200px;
        width: 200px;
      }
    }
  }

  @media @smartphones {
    .avatarContainer {
      height: 150px;
      width: 150px;

      .avatar, .avatar img {
        height: 150px;
        width: 150px;
      }
    }
  }
}

.vote {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;

  .innerVote {
    flex: 1;

    a {
      display: flex;
      align-items: center;
    }

    .avatar {
      display: inline-block;
      margin-right: 0.5rem;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background: @text-color;
      border: 2px solid @overlay-color;
    }
  }

  &.upvote {
    color: @upvotes-text;
  }

  &.downvote {
    color: @downvotes-color;
  }

  .zmdi {
    text-align: right;
    font-size: 2rem;
    flex: 1;
  }
}

.portalButtons {
  display: flex;
  flex-flow: row wrap;

  .avatar {
    display: inline-block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: @text-color;
    border: 1px solid @clear-color;
    margin-right: 0.5rem;
  }

  .title {
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    .info {
      display: flex;
      flex-direction: column;

      small {
        font-size: 0.75rem;
      }
    }
  }

  p {
    padding: 1rem;
  }

  .modal .avatar-area {
    width: 16rem;

    @media @smartphones {
      max-width: 8.5rem;
    }
  }

  .portalContainer {
    padding: 0.25rem;
    width: 100%;

    div {
      padding: 0.5rem 1rem;
      display: flex;
      flex-direction: column;
      background: @main-color-light;
    }
  }

  .portalButton {
    padding: 0.25rem;
    width: 33.333%;

    @media @tablets {
      width: 50%;
    }

    @media @smartphones {
      width: 100%;
    }

    a {
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      background: @main-color-light;

      .tag {
        vertical-align: middle;
        background: @upvotes-color;
        border-radius: 50%;
        padding: 0.25rem;
        margin-left: 0.25rem;
      }

      h3 {
        font-size: 2.5em;
        font-family: @title-font;
      }

      h2 {
        font-size: 1.125em;
      }

      h3 + h2 {
        margin-left: auto;
      }

      &:hover {
        background: @accent-color;
        color: @main-color;

        .tag {
          background: @main-color;
          color: @upvotes-color;
        }
      }
    }

    div {
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      background: @main-color-dark;
      color: @text-color-dark;

      h3 {
        font-size: 2.5em;
        font-family: @title-font;
      }

      h2 {
        font-size: 1.125em;
        margin-left: auto;
      }
    }
  }
}

.left {
  text-align: left;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

.end-info, .no-info {
  font-family: @title-font;
  color: @text-color;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  margin: 2rem 0;

  a {
    font-size: 1.25rem;
    border: dashed 3px @text-color;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;

    &:hover {
      color: @main-color-dark;
      border-color: @main-color-dark;
      background-color: @accent-color;
    }

    .zmdi {
      font-size: 1rem;
      padding-right: 0.5rem;
    }
  }
}

.header {
  font-family: @title-font;
  color: @text-color;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  margin: 2rem 0 0.25rem;

  span {
    display: inline-block;
    padding-bottom: 0.5rem;
  }
}


.chat-wrapper {
  width: 300px;
  display: inline-block;
  margin-right: -1.5rem;
  margin-left: 1.5rem;
  text-align: left;

  @media @smartphones {
    display: none;
  }

  a {
    cursor: pointer;
  }

  .chat-header {
    display: block;
    color: @accent-color;
    font-family: @title-font;
    background: @main-color-dark;
    padding: 0 1rem;
    height: 40px;

    span {
      vertical-align: middle;
    }

    .open {
      font-size: 2.5em;
    }

    .close {
      font-size: 1.5em;
    }

    .more {
      margin-top: -4px;
      display: inline-block;

      .zmdi {
        vertical-align: middle;

        .close, .open {
          display: inline-block;
        }

        .icons {
          float: right;
      }
    }
    }
  }

  .user-list {
    background: @text-color;
    position: absolute;
    top: 2.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 1rem;

    strong {
      color: @main-color;
    }

    a {
      color: @main-color;

      &:hover {
        color: @accent-color-dark;
      }
    }

    ul {
      list-style-type: none;
    }

    .close {
      float: right;
    }
  }

  .chat-overlay {
    background: @overlay-color;
    height: 360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    * {
      display: block;
      align-self: center;
    }

    a {
      background: @accent-color-dark;
      color: @main-color;
      padding: 0 1rem;

      &:hover {
        background: @text-color;
      }
    }
  }

  .chat-content {
    display: block;
    height: 400px;
    width: 300px;
    position: absolute;
    bottom: 0;
    background: @main-color-light;

    .messages {
      overflow-y: scroll;
      position: relative;
      top: 0;
      width: 100%;
      height: 320px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      .innermessages {
        & > span {
          display: block;
          text-align: left;
          line-height: 1.5;

          small {
            padding: 0 0.75rem;
            color: @accent-color-dark;
            line-height: 1;
            display: inline;
          }

          p {
            line-height: 1;
            padding: 0 0.75rem 0.75rem 0.75rem;
            white-space: pre-wrap;
            word-break: break-all;
          }
        }

        & > strong {
          display: block;
          text-align: center;
          color: @text-color-dark;
        }

        .self {
          text-align: right;
        }
      }
    }

    textarea {
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      border: 0;
      font-family: @main-font;
      font-size: 0.99em;
      background: @text-color;
      color: @main-color;
      padding: 0.75rem;
      resize: none;
      height: 2.5rem;
      min-height: 2.5rem;
      max-height: 6rem;
      overflow: hidden;
      vertical-align: middle;
    }

    a.chat-button {
      display: inline-block;
      height: 2.5rem;
      width: 2.5rem;
      cursor: pointer;
      position: absolute;
      right: 0;
      bottom: 0;
      line-height: 1.5em;
      text-align: center;
      font-size: 2em;
      color: @main-color;

      &:hover {
        color: @main-color-light;
      }
    }
  }
}

.chat-full {
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 1.5rem;

  .chat-header {
    line-height: 2.5em;
  }

  @media @smartphones {
    display: inline-block;
  }

  .user-list {
    @media @tablets, @smartphones {
      top: 3.5rem;
    }
  }

  .chat-content {
    width: 100%;
    height: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    @media @tablets, @smartphones {
      padding-top: 3.5rem;
    }

    .chat-overlay {
      height: 100%;

      a {
        line-height: 2.5em;
      }
    }

    .messages {
      height: 100%;
      padding-bottom: 3.5rem;

      @media @tablets, @smartphones {
        padding-bottom: 4.5rem;
      }
    }

    a.chat-button {
      line-height: 1.25em;
    }

    @media @smartphones {
      textarea {
        height: 3.5rem;
        min-height: 3.5rem;
        padding: 1rem;
      }

      a.chat-button {
        line-height: 1.75;
        height: 3.5rem;
        width: 3.5rem;
      }
    }
  }
}

footer {
  background: @main-color-light;
  width: 100%;
  padding: 0 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  z-index: 100;

  .footer-image {
    position: relative;
    top: 1px;
    height: 13px;

    &:hover {
      height: 15px;
      top: 2px;
      margin-left: -3.5px;
      margin-right: -3.5px;
    }
  }

  a {
    color: @accent-color;
    display: inline-block;

    &:hover {
      color: @text-color;
    }
  }

  .right .zmdi {
    width: 16px;
  }

  @font-face {
    font-family: 'brandIcons';
    src:  url('/resources/public/fonts/brandIcons.eot?eeffbh');
    src:  url('/resources/public/fonts/brandIcons.eot?eeffbh#iefix') format('embedded-opentype'),
    url('/resources/public/fonts/brandIcons.ttf?eeffbh') format('truetype'),
    url('/resources/public/fonts/brandIcons.woff?eeffbh') format('woff'),
    url('/resources/public/fonts/brandIcons.svg?eeffbh#brandIcons') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  i.brandIcon, span.brandIcon {
    font-family: 'brandIcons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: text-bottom;
  }

  .brandIcon-discord:before {
    content: "\e900";
  }

  @media @desktops {
    height: 2.5rem;

    .left a:not(:last-of-type), .right a:not(:last-of-type) {
      &:after {
        content: ' - ';
      }
    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }

  @media @tablets, @smartphones {
    & > span {
      display: flex;
      justify-content: space-around;
    }

    .right .zmdi {
      vertical-align: sub;
      font-size: 24px;
      width: 24px;
    }

    .right .brandIcon {
      vertical-align: middle;
      font-size: 24px;
      width: 24px;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: @overlay-color;
  overflow: auto;
  z-index: 110;

  .right {
    float: right;
  }

  .modal-content {
    margin: 5% auto;
    max-width: 30rem;

    &.big {
      max-width: 60rem;
    }

    @media @smartphones, @tablets {
      margin: 3.5rem 0 5rem 0;
      max-width: 100%;
    }

    .modal-header {
      font-family: @title-font;
      font-size: 1.5em;
      background-color: @main-color-light;
      color: @accent-color;
      padding: 1.5rem;
      word-wrap: break-word;

      textarea {
        background: @main-color-light;
        border: 2px solid @upvotes-color;
        color: @text-color;
        font-family: @title-font;
        font-size: 1.5rem;
        width: calc(100% - 2rem);
        max-width: 100%;
      }

      a:hover, a:focus {
        color: @accent-color-dark;
        text-decoration: underline;
        cursor: pointer;
      }

      .zmdi {
        margin-left: 0.5rem;
        vertical-align: middle;
        display: inline-block;
        height: 1.75rem;
      }

      small {
        font-size: 1rem;
        color: @accent-color-dark;
      }

      & > .close {
        margin: -10px;
        padding: 10px;
        color: @accent-color-dark;
        float: right;
        font-size: 1em;
        font-weight: bold;

        &:hover, &:focus {
          color: @main-color;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    .modal-body {
      background-color: @text-color;
      color: @main-color;
      padding: 1.5rem;

      &.dark {
        background: @main-color;
        color: @text-color;
        padding: 0;
      }

      .dropzone:not(.image-button) {
        background: @text-color;
        border: 3px dashed @main-color-dark;
        color: @main-color;

        &:hover {
          color: lighten(@main-color, 50%);
        }
      }

      .button {
        margin-bottom: 1rem;
        display: inline-block;
        border-bottom: 1px solid @main-color;

        &:before {
          content: '> ';
        }
      }

      form {
        a:not(.big-button) {
          color: @accent-color-dark;

          &:hover {
            color: @main-color;
          }
        }

        .input-field-wrap label {
          background: @main-color-light;
          color: @text-color;
        }

        input[type=text], input[type=password], input[type=email], textarea {
          vertical-align: middle;
          background: @main-color-dark;
          color: @text-color;
        }

        textarea {
          vertical-align: top;
        }

        button[type=submit], a.submit {
          display: inline-block;
          background: transparent;
          color: @accent-color-dark;
          border: 3px solid @accent-color-dark;

          &:hover {
            background: @accent-color-dark;
            color: @main-color;
          }

          &:disabled {
            background: transparent;
            border: 3px dashed @text-color-dark;
            color: @accent-color;
            opacity: 0.75;

            &:hover {
              cursor: not-allowed;
              background: transparent;
              color: @accent-color;
              opacity: 0.75;
            }
          }
        }

        .checkbox label {
          background: @main-color-dark;

          &:after {
            background: transparent;
            border: 3px solid @text-color;
            border-top: none;
            border-right: none;
          }
        }
      }
    }

    .modal-hide {
      display: block;
    }
  }
}

.filtersDropdown {
  vertical-align: text-top;
  height: 2rem;
  line-height: 2rem;
  width: auto;
  border-bottom: 2px solid @accent-color-dark;
  display: inline-block;
  position: relative;

  .selection {
    cursor: pointer;
    padding: 0 0.5rem;
  }

  .options {
    text-align: left;
    min-width: 100%;
    width: auto;
    display: none;
    height: 0;
    list-style: none;
    background: @text-color;
    position: absolute;
    z-index: 99999;
    cursor: pointer;

    .option {
      padding: 0 0.5rem;
      color: @main-color;

      &:hover {
        color: @main-color-light;
        background: @accent-color-dark;
      }
    }
  }

  &.multiple .option {
    &:before {
      content: '';
      display: inline-block;
      height: 1rem;
      width: 1rem;
      border: 2px solid @accent-color-dark;
      vertical-align: text-bottom;
      margin-right: 0.5rem;
    }

    &.active:before {
      border-bottom: 2px solid @accent-color;
      border-right: 2px solid @accent-color;
      border-left: 2px transparent;
      border-top: 2px transparent;
      width: 0.5rem;
      transform: rotate(45deg);
      margin-left: 0.25rem;
      margin-bottom: 0.25rem;
      margin-right: 0.875rem;
    }
  }

  &.active .options {
    display: block;
    height: auto;
  }
}

.inline-input {
  border: 0;
  font-family: @main-font;
  font-size: 1rem;
  background: @text-color;
  color: @main-color;
  padding: 0 0.75rem;
  resize: none;
}

.dropzone {
  background: @main-color;
  border: 3px dashed @text-color-dark;
  border-radius: 1rem;
  color: @text-color;
  max-width: 27rem;
  margin: 0 auto;

  .dz-message {
    font-size: 1.25em;
  }

  &:hover {
    border-style: solid;
    color: darken(@text-color, 50%);
  }

  .dz-preview.dz-image-preview {
    background: none;
  }
}

form {
  text-align: center;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.no-style {
    display: initial;
    text-align: initial;
    padding: initial;
  }

  a {
    color: @accent-color;

    &:hover {
      color: @text-color;
    }
  }

  .zmdi {
    vertical-align: middle;
    //margin-right: 0.5rem;
    font-size: 1.5em;
  }

  .input-field {
    margin-bottom: 1rem;
    display: inline-block;
    width: 100%;
    max-width: 27rem;
    text-align: left;

    &.half {
      width: 50%;
    }

    .input-label {
      font-variant: small-caps;

      &:after {
        content: '';
        display: block;
        width: 4rem;
        background: @accent-color;
        height: 0.125rem;
        margin-bottom: 0.25rem;
      }

      small {
        color: @text-color-dark;
      }
    }

    .input-field-wrap {
      position: relative;

      label {
        background: @text-color-dark;
        color: @main-color;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        padding: 1rem;
        width: 3rem;
      }

      input[type=text], input[type=password], input[type=email], textarea {
        padding-left: 3.5rem;
      }
    }
  }

  .input-field-inline {
    display: inline-block;
    margin-bottom: 1rem;

    label {
      display: block;
      text-align: left;
      margin-bottom: 0.25rem;
    }
  }

  input[type=text], input[type=password], input[type=email], textarea {
    border: 0;
    font-family: @main-font;
    font-size: 1em;
    background: @text-color;
    color: @main-color;
    padding: 0.75rem;
    resize: none;
    height: 3rem;
    vertical-align: middle;
    width: 100%;

    /*@media @desktops, @tablets {
      width: 20rem;
    }

    @media @smartphones {
      width: 100%;
    }*/
  }

  textarea {
    height: 4rem;
  }

  @media @smartphones {
    /*label > .zmdi {
      display: none;
    }*/
  }

  .submit {
    text-align: center;
  }

  button[type=submit], a.submit {
    font-family: @title-font;
    padding: 0.25rem;
    background: transparent;
    box-sizing: border-box;
    color: @accent-color;
    border: 3px solid @accent-color;
    font-size: 1.25em;
    line-height: 1.75em;
    width: 10rem;
    height: 3rem;
    vertical-align: middle;

    &:hover {
      cursor: pointer;
      background: @accent-color;
      color: @main-color;
    }

    &:disabled {
      background: transparent;
      border: 3px dashed @main-color;
      color: @accent-color;
      opacity: 0.75;

      &:hover {
        cursor: not-allowed;
        background: transparent;
        color: @accent-color;
        opacity: 0.75;
      }
    }
  }

  .checkbox {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
    text-align: left;

    & + span {
      vertical-align: middle;
    }

    & label {
      cursor: pointer;
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0.75rem;
      top: 0;
      background: @text-color;

      &:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        content: '';
        position: absolute;
        width: 0.8rem;
        height: 0.4rem;
        background: transparent;
        top: 0.3rem;
        left: 0.25rem;
        border: 3px solid @main-color-dark;
        border-top: none;
        border-right: none;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:hover::after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        opacity: 0.3;
      }
    }

    & input[type=checkbox] {
      display: none;
    }

    & input[type=checkbox]:checked + label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1;
    }
  }
}

.g-recaptcha {
  max-width: 304px;
  margin: 0 auto;
}

.markdown {
  padding: 1rem;

  h1 {
    font-size: 1.5em;
    font-weight: normal;
    font-family: @title-font;
    color: @accent-color-dark;
    margin-bottom: 1rem;
  }

  strong {
    font-size: 1.25em;
    font-weight: normal;
    font-family: @title-font;
    color: @accent-color-dark;
    margin-left: -0.5rem;
  }

  p, ul {
    line-height: 1.25em;
    font-size: 0.85em;
    margin-bottom: 1rem;
    padding-left: 0.5rem;

    li {
      margin-left: 1.5rem;
    }
  }
}

.material-switch {
  display: inline-block;
  margin: 1rem 0.75rem;
  vertical-align: middle;
  width: 35px;
  position: relative;

  & > input[type="checkbox"] {
    display: none;

    &:checked + label {
      background: @accent-color;

      &:before {
        background: inherit;
        opacity: 0.5;
      }

      &:after {
        background: inherit;
        left: 20px;
      }
    }
  }

  & > label {
    cursor: pointer;
    height: 0;
    width: 40px;

    &:before {
      background: rgb(0, 0, 0);
      box-shadow: inset 0 0 10px @overlay-color;
      border-radius: 8px;
      content: '';
      height: 16px;
      margin-top: -8px;
      position:absolute;
      opacity: 0.3;
      transition: all 0.4s ease-in-out;
      width: 40px;
    }

    &:after {
      background: rgb(255, 255, 255);
      border-radius: 16px;
      box-shadow: 0 0 5px @overlay-color;
      content: '';
      height: 24px;
      left: -4px;
      margin-top: -8px;
      position: absolute;
      top: -4px;
      transition: all 0.3s ease-in-out;
      width: 24px;
    }
  }
}

.block.bio-wrapper {
  display: flex;
  flex-direction: column;

  .bio {
    align-self: center;
    display: flex;
    align-items: center;

    .zmdi {
      font-size: 1.5em;
      color: @accent-color;
    }

    span, p {
      white-space: pre-wrap;
      word-break: break-all;
      font-size: 1.125em;
      color: @accent-color;
      display: inline-block;
    }

    textarea {
      background: @main-color-light;
      border: 2px solid @upvotes-color;
      color: @text-color;
      font-family: @main-font;
      font-size: 1.125rem;
      width: 100%;
      max-width: 100%;
    }
  }
}

.charMax {
  color: @text-color-dark;
  min-width: 2rem;
  display: inline-block;
  text-align: left;
  vertical-align: bottom;
  font-size: 0.9em;
}

.charMaxArea {
  font-size: 0.9em;
  color: @text-color-dark;
  float: right;
  display: block;
  margin-top: -1.5rem;
  margin-right: 0.5rem;
  position: relative;
  height: 0.5rem;
}

.charMaxError {
  outline: none;
  color: @downvotes-color !important;

  &:focus {
    outline: none;
    color: @downvotes-color !important;
  }
}

.fixed-arrow {
  opacity: 0.5;
  position: fixed;
  top: 50%;

  &.fixed-arrow-left {
    left: 0;

    @media @smartphones, @tablets {
      margin-left: -4rem;
    }

    .zmdi {
      border-radius: 0 0.25em 0.25em 0;
    }
  }

  &.fixed-arrow-right {
    right: 0;

    @media @smartphones, @tablets {
      margin-right: -4rem;
    }

    .zmdi {
      border-radius: 0.25em 0 0 0.25em;
    }
  }

  .zmdi {
    margin-top: -0.5em;
    font-size: 4em;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: block;
    background: @overlay-color;
  }
}

.profileCard {
  width: 33.333%;
  padding: 0.5rem 0.25rem 0;

  a {
    background-color: @main-color-light;
    padding: 1rem;
    display: flex;
    text-align: left;
    align-items: center;

    &:hover {
      background: @accent-color;

      span {
        color: @main-color;
      }
    }
  }

  &.gridProfile {
    float: left;
  }

  .avatar {
    display: inline-block;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background: @text-color;
    border: 2px solid @clear-color;
  }

  div {
    margin-left: 1rem;
  }

  span {
    &.title {
      font-size: 1.5em;
      color: @accent-color;
      font-family: @title-font;
    }

    display: block;
  }

  @media @tablets {
    width: 50%;
  }

  @media @smartphones {
    width: 100%;
  }

  .floating {
    width: 15rem;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.mobile-hide {
  @media @smartphones {
    display: none;
  }
}

.mobile-only {
  @media @desktops, @tablets {
    display: none;
  }
}

.desktop-hide {
  @media @desktops {
    display: none;
  }
}

.badge {
  font-size: 1rem;
  vertical-align: middle;
  border-radius: 1.5rem;
  background: @accent-color;
  margin-left: 1rem;
  display: inline-block;
  height: 1.5rem;
  min-width: 1.5rem;
  line-height: 1rem;
  text-align: center;
  padding: 0.25rem 0.5rem;

  &.no-bg {
    background: none;
  }

  .zmdi {
    //font-size: 16px;
    margin: 0 -0.5rem;

    @media @desktops {
      line-height: 1rem;
    }
  }

  @media @tablets, @smartphones {
    font-size: 1.5rem;
    height: 2rem;
    min-width: 2rem;
    line-height: 1.5rem;
  }

  &:hover {
    background: @accent-color-dark;
  }

  &:empty {
    display: none;
  }
}

.ui-pnotify-modal-overlay {
  background-color: rgba(0, 0, 0, .4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

body > .ui-pnotify-modal-overlay {
  position: fixed;
  z-index: 100039;
}

.ui-pnotify-container {
  background-position: 0 0;
  height: 100%;
  margin: 0;
  padding: .8em;

  &:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
  }

  .ui-pnotify-sharp {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}

.ui-pnotify-title {
  display: block;
  margin-bottom: .4em;
  margin-top: 0;

  .avatar {
    float: left;
    height: 3.5rem;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 0.5rem;
  }
}

.ui-pnotify-text {
  display: block;
}

.ui-pnotify-icon {
  display: block;
  float: left;
  margin-right: .2em;

  span {
    display: block;
    float: left;
    margin-right: .2em;
  }
}

.ui-pnotify {
  height: auto;
  position: absolute;
  right: 36px;
  top: 36px;
  z-index: 2;
  background: @main-color-light;

  .ui-pnotify-closer {
    float: right;
    position: relative;
    width: 16px;
    height: 16px;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    font-family: "Courier New", Courier, monospace;
    border-radius: 50%;

    &:after {
      top: -4px;
      content: "\002715";
    }
  }

  .ui-pnotify-shadow {
    -moz-box-shadow: 0 6px 28px 0 @overlay-color;
    -webkit-box-shadow: 0 6px 28px 0 @overlay-color;
    box-shadow: 0 6px 28px 0 @overlay-color;
  }

  &.ui-pnotify-in {
    display: block !important;
  }

  &.ui-pnotify-move {
    transition: left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
  }

  &.ui-pnotify-fade-slow {
    opacity: 0;
    transition: opacity .6s linear;
  }

  &.ui-pnotify-fade-slow.ui-pnotify.ui-pnotify-move {
    transition: opacity .6s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
  }

  &.ui-pnotify-fade-normal {
    opacity: 0;
    transition: opacity .4s linear;
  }

  &.ui-pnotify-fade-normal.ui-pnotify-move {
    transition: opacity .4s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
  }

  &.ui-pnotify-fade-fast {
    opacity: 0;
    transition: opacity .2s linear;
  }

  &.ui-pnotify-fade-fast.ui-pnotify-move {
    transition: opacity .2s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease;
  }

  &.ui-pnotify-fade-in {
    opacity: 1;
  }

  &.stack-bottomleft {
    bottom: 25px;
    left: 25px;
    right: auto;
    top: auto;
  }

  &.stack-topleft {
    left: 25px;
    right: auto;
  }

  &.stack-bottomright {
    bottom: 25px;
    top: auto;
  }

  &.stack-modal {
    left: 50%;
    margin-left: -150px;
    right: auto;
  }

  .ui-pnotify-action-bar {
    display: flex;
  }

  .ui-pnotify-action-button {
    background: transparent;
    color: @text-color;
    border: 0;
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
      background: @accent-color;
      color: @main-color-light;
      cursor: pointer;
    }
  }

  .brighttheme-success .ui-pnotify-title {
    color: @upvotes-color;
  }

  .brighttheme-error .ui-pnotify-title {
    color: @downvotes-color;
  }

  .brighttheme-info {
    background: @text-color;
    color: @main-color;

    .ui-pnotify-title {
      font-weight: normal;
    }

    .ui-pnotify-text {
      font-size: 0.8rem;
    }

    .ui-pnotify-action-button {
      width: 100%;
      color: @accent-color;

      &:hover {
        color: @main-color-light;
      }
    }
  }
}

body > .ui-pnotify {
  position: fixed;
  z-index: 100040;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

body.modal-open {
  position: absolute;

  nav {
    z-index: 999;
  }
}

.skeleton {
  &.modal-header {
    .title {
      height: 1.75rem;
      background: @main-color-dark;
      width: 50%;
    }
  }

  &.modal-body {
    .elements > div {
      height: 32rem;
      background: url('/resources/public/assets/placeholder.png') center center no-repeat;
    }

    .description > div {
      height: 1.75rem;
      background: @main-color-dark;
      width: 75%;
    }

    .publication > div {
      height: 1.75rem;
      background: @main-color-dark;
      width: 24rem;
    }

    .votes-block {
      & > div {
        min-width: 3rem;
        height: 3rem;
        padding: 0.75rem;
        margin-right: 0;
        display: inline-block;
        text-decoration: none;
        float: left;

        &.upvotes {
          background: @upvotes-color;
          color: @upvotes-text;
        }

        &.downvotes {
          background: @downvotes-color;
          color: @downvotes-text;
          margin-left: 0.5rem;
        }

        &.more {
          background: @main-color-light;
          color: @accent-color-dark;
          margin-left: 0.5rem;
        }
      }
    }

    .comment {
      .content > div {
        height: 1.75rem;
        background: @main-color;
        width: 100%;
      }

      .commentText {
        height: 1.75rem;
        background: @main-color;
        width: 100%;
      }

      .commentText.small {
        margin-top: -0.125rem;
        height: 1.75rem;
        background: @main-color;
        width: 75%;
      }
    }
  }

  .animate {
    position: relative;
    overflow: hidden;

    @keyframes shine {
      0% {
        left: -24rem;
      }
      100% {
        left: calc(100% + 24rem);
      }
    }

    &:after {
      content: "";
      position: absolute;
      width: 16rem;
      height: 16rem;
      top: -4rem;
      left: -300%;
      transform: rotate(-15deg);

      //background: @clear-color;
      background: linear-gradient(
              to right,
              rgba(255, 255, 255, 0.0) 0%,
              rgba(255, 255, 255, 1) 50%,
              rgba(255, 255, 255, 0.1) 60%,
              rgba(255, 255, 255, 0.0) 100%
      );

      opacity: 0.025;

      animation: shine 5s infinite;
    }
  }
}