<div class="chat-content" style="display: none" data-bind="visible: visible">
    <!-- ko if: canHide -->
    <a data-bind="click: hide" class="chat-header">
        <span data-bind="text: channel"></span>
        <span class="icons">
            <span class="more" data-bind="click: function() { showUsers(true); }"><i class="material-icons">more_vert</i></span>
            <span class="close">×</span>
        </span>
    </a>
    <!-- /ko -->
    <!-- ko ifnot: canHide -->
    <div class="chat-header">
        <span data-bind="text: channel"></span>
        <span class="icons">
            <a class="more" data-bind="click: function() { showUsers(true); }"><i class="material-icons">more_vert</i></a>
        </span>
    </div>
    <!-- /ko -->
    <div data-bind="visible: showUsers" class="user-list">
        <a class="close" href="#" data-bind="click: function() { showUsers(false); }">Close</a>
        <strong>Users</strong>
        <ul>
        <!-- ko foreach: users -->
        <li><a href="#" data-bind="attr: { href: '{{ 'profile/'|path }}' + name }, text: name"></a></li>
        <!-- /ko -->
        </ul>
    </div>
    <!-- ko if: connected -->
    <div class="messages">
        <div class="innermessages" data-bind="foreach: messages">
            <!-- ko if: action == 'message' && user.id == $parent.loggedUser -->
            <span class="self">
                <!-- ko if: $parent.previousMessageUserId($data) != user.id -->
                <small>You</small>
                <!-- /ko -->
                <p data-bind="text: message"></p>
            </span>
            <!-- /ko -->
            <!-- ko if: action == 'message' && user.id != $parent.loggedUser -->
            <span>
                <!-- ko if: $parent.previousMessageUserId($data) != user.id -->
                <a href="#" data-bind="attr: { href: '{{ 'profile/'|path }}' + user.name }"><small data-bind="text: user.name"></small></a>
                <!-- /ko -->
                <p data-bind="text: message"></p>
            </span>
            <!-- /ko -->
        </div>
    </div>
    <textarea rows="1" data-bind="autosize: currentMessage, textInput: currentMessage, event: { keypress: checkKeyPress }" placeholder="Enter your message" ></textarea>
    <a class="chat-button" data-bind="visible: $.trim(currentMessage()).length > 0, click: send"><i class="material-icons">send</i></a>
    <!-- /ko -->
    <!-- ko ifnot: connected -->
    <div class="chat-overlay">
        <!-- ko if: connecting --><span>Connecting...</span><!-- /ko -->
        <!-- ko ifnot: connecting -->
        <!-- ko if: error --><span>An error occured.</span><!-- /ko -->
        <!-- ko ifnot: error --><span>You were disconnected.</span><!-- /ko -->
        <a data-bind="click: connect" href="#">Reconnect</a>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>