<form action="{{ 'login'|path }}" method="post">
    <div class="input-field">
        <div class="input-label">
            <span>Username or email</span>
        </div>
        <div class="input-field-wrap">
            <label for="luser"><i class="zmdi zmdi-hc-fw zmdi-account-o"></i></label>
            <input name="luser" id="luser" type="text" data-bind="textInput: username" placeholder="'pseudonym' or 'yourname@domain.com'">
        </div>
    </div>
    <div class="input-field">
        <div class="input-label">
            <span>Password</span>
        </div>
        <div class="input-field-wrap">
            <label for="lpwd"><i class="zmdi zmdi-hc-fw zmdi-lock-outline"></i></label>
            <input name="lpwd" id="lpwd" type="password" data-bind="textInput: password" placeholder="&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;">
        </div>
    </div>
    <div class="input-field">
        <a href="{{ 'recovery'|path }}">Forgot your password?</a>
    </div>
    <div class="input-field">
        <div class="checkbox">
            <input type="checkbox" name="perm" id="perm" />
            <label for="perm"></label>
        </div>
        <span>Remember me</span>
    </div>
    <div class="input-field submit">
        <button type="submit" data-bind="disable: canSubmit, click: submit">Login</button>
    </div>
</form>