<form action="{{ 'register'|path }}" method="post">
    <div class="input-field">
        <div class="input-label">
            <span>Username</span>
        </div>
        <div class="input-field-wrap">
            <label for="user"><i class="zmdi zmdi-hc-fw zmdi-account-o"></i></label>
            <input name="user" id="user" type="text" data-bind="textInput: username" placeholder="pseudonym">
        </div>
    </div>
    <div class="input-field">
        <div class="input-label">
            <span>Email</span>
        </div>
        <div class="input-field-wrap">
            <label for="email"><i class="zmdi zmdi-hc-fw zmdi-email"></i></label>
            <input name="email" id="email" type="email" data-bind="textInput: email" placeholder="yourname@domain.com">
        </div>
    </div>
    <div class="input-field">
        <div class="input-label">
            <span>Password</span>
        </div>
        <div class="input-field-wrap">
            <label for="pwd"><i class="zmdi zmdi-hc-fw zmdi-lock-outline"></i></label>
            <input name="pwd" id="pwd" type="password" data-bind="textInput: password" placeholder="&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;">
        </div>
    </div>
    <div class="input-field">
        <div class="input-label">
            <span>Confirm</span>
        </div>
        <div class="input-field-wrap">
            <label for="pwd_confirm"><i class="zmdi zmdi-hc-fw zmdi-lock-outline"></i></label>
            <input name="pwd_confirm" id="pwd_confirm" type="password" data-bind="textInput: confirm" placeholder="&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;">
        </div>
    </div>
    <div class="input-field">
        <div id="g-recaptcha" class="g-recaptcha"></div>
    </div>
    <div class="input-field">
        <div class="checkbox">
            <input type="checkbox" name="age" id="age" data-bind="checked: checkbox" />
            <label for="age"></label>
        </div>
        <small>By registering to this website, you agree to the <a href="{{ 'terms'|path }}">Terms of Service</a></small>
    </div>
    <div class="input-field submit">
        <button type="submit" data-bind="disable: canSubmit">Register</button>
    </div>
    <input type="text" style="visibility: hidden; position: absolute; top: -999999px; left: -999999px;" name="email_confirm" tabindex="-1">
</form>