<!-- ko foreach: votes -->
<div class="vote" data-bind="css: { 'upvote': type() == 1, 'downvote': type() != 1 }">
    <div class="innerVote">
        <a href="#" data-bind="attr: { href: '{{ 'profile/'|path }}' + name() }">
            <!-- ko if: icon -->
            <img src="#" class="avatar" data-bind="attr: { src: icon }">
            <!-- /ko -->
            <h3 data-bind="text: name"></h3>
        </a>
    </div>
    <i class="thumb zmdi" data-bind="css: { 'zmdi-thumb-up': type() == 1, 'zmdi-thumb-down': type() == 0 }"></i>
</div>
<!-- /ko -->
<!-- ko if: votes().length == 0 -->
<h3>Be the first to vote on this publication!</h3>
<!-- /ko -->